<form name="orgSignupForm" novalidate role="form">
  <div class="alert alert-danger" ng-show="errorMsg">{{errorMsg}}</div>

  <div class="org-signup-introduction">
    <p class="text-center lead">
      Уважаемые работники похоронной отрасли,
      <br>
      предлагаем вам разместить информацию о своих магазинах, товарах и услугах
      в специализированном каталоге информационной системы "Похоронное Дело"!
    </p>
    <p>
      <strong>"Похоронное Дело"</strong> - это непрерывно развивающаяся информационная
      система нового поколения. Целевая аудитория нашей системы - люди, нуждающиеся в оказании профессиональной
      помощи в установке или ремонте надгробных сооружений, подготовке и организации похорон, в приобретении
      ритуальных товаров и услуг.
    </p>
    <p>Используя “Похоронное Дело” в качестве рекламной площадки, Вы получите:</p>
    <ol>
      <li>Постоянную целевую аудиторию - это именно те люди, которые могут стать Вашими клиентами;</li>
      <li>
        Расширение рынка сбыта - информация о Ваших товарах и услугах будет доступна из любой точки Земли,
        где есть интернет;
      </li>
      <li>
        Возможность самостоятельно изменять, добавлять информацию о Ваших магазинах, товарах и услугах;
      </li>
      <li>
        Актуальную информацию о предложениях производителей комплектующих для изготовления Ваших товаров;
      </li>
      <li>Упрощённый учёт и печать заказов.</li>
    </ol>
    <p>
      Воспользовавшись нашей системой, Вы получаете максимальный рекламный эффект, при минимальных* затратах!
    </p>
    <p>
      <small>* в течение бессрочного тестового периода оплата не взимается, о его окончании мы известим Вас не позднее
      чем за 2 недели.</small>
    </p>
  </div>

  <div class="form-group has-feedback"
       ng-class="{'has-error': orgSignupForm.orgName.$dirty && orgSignupForm.orgName.$invalid}">
    <label class="control-label" for="orgName">
      Краткое наименование организации <span class="form-require-mark">*</span>
    </label>
    <input name="orgName" id="orgName" ng-model="authProvider.getSignupModel().orgName" class="form-control"
           required autofocus />
  </div>

  <div class="form-group has-feedback"
       ng-class="{'has-error': orgSignupForm.registredOfficeAddress.$dirty && orgSignupForm.registredOfficeAddress.$invalid}">
    <label class="control-label" for="registredOfficeAddress">
      Юридический адрес <span class="form-require-mark">*</span>
    </label>

    <ya-map ya-zoom="10"
            ya-options="{maxZoom: 18}"
            ya-event-click="authProvider.yaMapOfficeClickHandle($event)">
      <ya-toolbar ya-name="zoomControl" ya-options="{left: 10}"></ya-toolbar>
      <ya-toolbar ya-name="typeSelector" ya-options="{left: 50}"></ya-toolbar>
      <pd-ya-search-toolbar ya-options="{left: 150, right: 100}"></pd-ya-search-toolbar>

      <ya-geo-object ya-source="authProvider.getOfficeGeoObject()"
                     ya-event-dragend="authProvider.officeGeoObjectDragendHandler($event)"></ya-geo-object>
    </ya-map>
    <textarea name="registredOfficeAddress" id="registredOfficeAddress" class="form-control margin-top-15" required
              ng-model="authProvider.getSignupModel().registredOffice.address"
              ng-readonly="!authProvider.getSignupModel().registredOffice.address"></textarea>
  </div>

  <div class="form-group has-feedback" ng-class="{'has-error': orgSignupForm.email.$dirty && orgSignupForm.email.$invalid}">
    <label class="control-label" for="email">Email <span class="form-require-mark">*</span></label>
    <input name="email" id="email" ng-model="authProvider.getSignupModel().email" class="form-control" required
           type="email" ng-pattern="EMAIL_REGEXP" />
    <span class="help-block" ng-show="orgSignupForm.email.$error.pattern">Неверный формат email</span>
  </div>

  <div class="form-group has-feedback" ng-init="authProvider.getSignupModel().phones = [{phone:''}]">
    <label class="control-label">Телефон(ы) <span class="form-require-mark">*</span></label>

    <div ng-repeat="phoneItem in authProvider.getSignupModel().phones" class="margin-bottom-15 has-feedback"
         ng-class="{
                'input-group': authProvider.getSignupModel().phones.length > 1,
                'has-error': orgSignupForm.phones_{{$index}}.$dirty && orgSignupForm.phones_{{$index}}.$invalid
             }">
      <input class="form-control" ng-model="phoneItem.phone" required name="phones_{{$index}}">
      <span class="input-group-btn" ng-hide="1 === authProvider.getSignupModel().phones.length">
        <button class="btn btn-default" type="button"
                ng-click="authProvider.getSignupModel().phones.splice($index, 1)">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
      </span>
    </div>

    <div class="text-right">
      <span class="btn btn-success btn-xs" ng-click="authProvider.getSignupModel().phones.push({phone: ''})">
        <i class="glyphicon glyphicon-plus"></i> Добавить
      </span>
    </div>
  </div>

  <div class="form-group has-feedback" ng-class="{'has-error': orgSignupForm.fax.$dirty && orgSignupForm.fax.$invalid}">
    <label class="control-label" for="fax">Факс</label>
    <input name="fax" id="fax" ng-model="authProvider.getSignupModel().fax" class="form-control" maxlength="20" />
  </div>

  <div class="form-group has-feedback"
       ng-class="{'has-error': orgSignupForm.username.$dirty && orgSignupForm.username.$invalid}">
    <label class="control-label" for="username">Логин пользователя <span class="form-require-mark">*</span></label>
    <input name="username" id="username" ng-model="authProvider.getSignupModel().username" class="form-control"
           required ng-pattern="/^[A-Za-z0-9@_-]+$/" />
    <span class="help-block" ng-show="orgSignupForm.username.$error.pattern">
      Разрешены символы: A-Z, a-z, 0-9, @, _, -
    </span>
  </div>

  <div class="form-group has-feedback"
       ng-class="{'has-error': orgSignupForm.password.$dirty && orgSignupForm.password.$invalid}">
    <label class="control-label" for="password">Пароль <span class="form-require-mark">*</span></label>

    <div class="alert alert-warning"ng-show="showGeneratedPassword">
      Сгенерированный пароль: <strong>{{authProvider.getSignupModel().password}}</strong>
    </div>

    <div class="input-group">
      <input name="password" id="password" ng-model="authProvider.getSignupModel().password" class="form-control"
             required type="password" ng-change="showGeneratedPassword = false" />
      <!-- Quickfix for chrome autofill bug (https://code.google.com/p/chromium/issues/detail?id=352347) -->
      <input type="password" name="password" style="display: none"/>
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" title="Сгенерировать пароль"
                ng-click="authProvider.generatePassword(); showGeneratedPassword = true">
          <i class="glyphicon glyphicon-random"></i>
        </button>
      </span>
    </div>
  </div>

  <div class="form-group has-feedback"
       ng-class="{'has-error': orgSignupForm.passwordConfirm.$dirty && orgSignupForm.passwordConfirm.$invalid}">
    <label class="control-label" for="passwordConfirm">
      Повторите пароль <span class="form-require-mark">*</span>
    </label>
    <input name="passwordConfirm" id="passwordConfirm" ng-model="authProvider.getSignupModel().passwordConfirm"
           type="password" class="form-control" required password-repeat="password" />
    <span class="help-block"
          ng-show="orgSignupForm.passwordConfirm.$dirty && orgSignupForm.passwordConfirm.$error.passwordRepeat">
      Неверно введен повтор пароля
    </span>
  </div>

  <div class="form-group has-feedback"
       ng-class="{'has-error': orgSignupForm.userLastName.$dirty && orgSignupForm.userLastName.$invalid}">
    <label class="control-label" for="userLastName">
      Фамилия пользователя <span class="form-require-mark">*</span>
    </label>
    <input name="userLastName" id="userLastName" ng-model="authProvider.getSignupModel().userLastName"
           class="form-control" required />
  </div>

  <div class="form-group has-feedback"
       ng-class="{'has-error': orgSignupForm.userFirstName.$dirty && orgSignupForm.userFirstName.$invalid}">
    <label class="control-label" for="userFirstName">
      Имя пользователя <span class="form-require-mark">*</span>
    </label>
    <input name="userFirstName" id="userFirstName" ng-model="authProvider.getSignupModel().userFirstName"
           class="form-control" required />
  </div>

  <div class="form-group">
    <label class="control-label" for="userMiddleName">Отчество пользователя</label>
    <input name="userMiddleName" id="userMiddleName" ng-model="authProvider.getSignupModel().userMiddleName"
           class="form-control" />
  </div>

  <div class="form-group has-feedback"
       ng-class="{'has-error': orgSignupForm.certificatePhoto.$dirty && orgSignupForm.certificatePhoto.$invalid}">
    <label class="control-label">
      Скан/фото свидетельства госрегистрации <span class="form-require-mark">*</span>
    </label>
    <pd-file-selector pd-allow-preview ng-model="authProvider.getSignupModel().certificatePhoto"
                      name="certificatePhoto" required pd-max-height="150px"></pd-file-selector>
  </div>

  <div class="form-group">
    <div vc-recaptcha
         ng-model="authProvider.getSignupModel().recaptchaData"
         theme="white"
         lang="ru"
         key="{{recaptchaPublicKey}}"></div>
  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-lg btn-primary" ng-disabled="orgSignupForm.$invalid" ng-click="signup()">
      Регистрация
    </button>
  </div>
</form>
