<form name="orgSignupForm" novalidate role="form">
  <div class="alert alert-danger" ng-show="errorMsg">{{errorMsg}}</div>

  <div class="org-signup-introduction">
    <p class="text-center lead">
      Уважаемые работники похоронной отрасли,
      <br>
      предлагаем вам разместить информацию о своих магазинах, товарах и услугах
      в специализированном каталоге информационной системы "Похоронное Дело"!
    </p>
    <p>
      <strong>"Похоронное Дело"</strong> - непрерывно развивающаяся отраслевая информационная система, разработанная
      для оптовых и розничных организаций похоронной отрасли, а так же для людей, нуждающихся в приобретении
      ритуальных товаров и услуг.
    </p>

    <p>Зарегистрированным пользователям мы бесплатно, на постоянной основе предлагаем:</p>
    <ol>
      <li>просмотр оптового и розничного каталогов ритуальных товаров;</li>
      <li>размещение информации о компании, магазинах, товарах и услугах в оптовом и розничном каталогах.</li>
    </ol>
    <p>
      В настоящий момент мы работаем над реализацией дополнительных платных возможностей. Об их доступности, а также о
      стоимости их использования мы сообщим дополнительно.
    </p>

    <p>Используя “Похоронное Дело” в качестве рекламной площадки, Вы получите:</p>
    <ol>
      <li>Постоянную целевую аудиторию - это именно те люди, которые могут стать Вашими клиентами;</li>
      <li>Возможность просмотра предложений от производителей;</li>
      <li>
        Расширение рынка сбыта - информация о Ваших товарах и услугах будет доступна из любой точки Земли,
        где есть интернет;
      </li>
      <li>
        Возможность самостоятельно изменять, добавлять информацию о Ваших магазинах, товарах и услугах;
      </li>
      <li>Упрощённый учёт и печать заказов.</li>
    </ol>

    <p>Наши преимущества перед другими каталогами и перед содержанием собственного сайта:</p>
    <ol>
      <li>Размещение не только информации о Вашей компании, но и о каждом магазине, товаре и услуге;</li>
      <li>Попадание Ваших товаров в результаты выдачи поисковых систем;</li>
      <li>Наглядное представление Ваших магазинов на карте;</li>
      <li>
        Не нужно тратить время и средства на создание, содержание и раскрутку собственного сайта - возможность
        сосредоточиться на управлении бизнесом - рекламу в Интернете мы берем на себя.
      </li>
    </ol>
    <p>
      Если в Вашем регионе ещё не размещены рекламные объявления, наглядно посмотреть рабочий каталог можно уменьшив
      масштаб.
    </p>
  </div>

  <div class="form-group has-feedback"
       ng-class="{'has-error': orgSignupForm.orgName.$invalid, 'has-success': orgSignupForm.orgName.$valid}">
    <label for="orgName">
      Краткое наименование организации <span class="form-require-mark">*</span>
    </label>
    <input name="orgName" id="orgName" ng-model="authProvider.getSignupModel().orgName" class="form-control"
           required autofocus />
    <span class="glyphicon form-control-feedback"
          ng-class="{'glyphicon-remove': orgSignupForm.orgName.$invalid, 'glyphicon-ok': orgSignupForm.orgName.$valid}"></span>
  </div>

  <div class="form-group">
    <label for="registredOfficeAddress">
      Юридический адрес <span class="form-require-mark">*</span>
    </label>

    <ya-map ya-zoom="10"
            ya-options="{maxZoom: 18}"
            ya-event-click="authProvider.yaMapOfficeClickHandle($event)">
      <ya-toolbar ya-name="zoomControl" ya-options="{left: 10}"></ya-toolbar>
      <ya-toolbar ya-name="typeSelector" ya-options="{left: 50}"></ya-toolbar>
      <pd-ya-search-toolbar ya-options="{left: 150, right: 100}"></pd-ya-search-toolbar>

      <ya-geo-object ya-source="authProvider.getOfficeGeoObject()"
                     ya-event-dragend="authProvider.officeGeoObjectDragendHandler($event)"></ya-geo-object>
    </ya-map>

    <div class="has-feedback"
         ng-class="{
        'has-error': orgSignupForm.registredOfficeAddress.$invalid,
        'has-success': orgSignupForm.registredOfficeAddress.$valid
    }">
      <textarea name="registredOfficeAddress" id="registredOfficeAddress" class="form-control margin-top-15" required
                ng-model="authProvider.getSignupModel().registredOffice.address"
                ng-readonly="!authProvider.getSignupModel().registredOffice.address"></textarea>
      <span class="glyphicon form-control-feedback"
            ng-class="{
             'glyphicon-remove': orgSignupForm.registredOfficeAddress.$invalid,
             'glyphicon-ok': orgSignupForm.registredOfficeAddress.$valid
           }"></span>
    </div>
  </div>

  <div class="form-group has-feedback"
       ng-class="{'has-error': orgSignupForm.email.$invalid, 'has-success': orgSignupForm.email.$valid}">
    <label for="email">Email <span class="form-require-mark">*</span></label>
    <input name="email" id="email" ng-model="authProvider.getSignupModel().email" class="form-control" required
           type="email" ng-pattern="EMAIL_REGEXP" />
    <span class="glyphicon form-control-feedback"
          ng-class="{'glyphicon-remove': orgSignupForm.email.$invalid, 'glyphicon-ok': orgSignupForm.email.$valid}"></span>
  </div>

  <div class="form-group has-feedback" ng-init="authProvider.getSignupModel().phones = [{phone:''}]">
    <label>Телефон(ы) <span class="form-require-mark">*</span></label>

    <div ng-repeat="phoneItem in authProvider.getSignupModel().phones" class="margin-bottom-15 has-feedback"
         ng-class="{
                'has-error': orgSignupForm.phones_{{$index}}.$invalid,
                'has-success': orgSignupForm.phones_{{$index}}.$valid
             }">
      <div ng-class="{'input-group': authProvider.getSignupModel().phones.length > 1}">
        <input class="form-control" ng-model="phoneItem.phone" required name="phones_{{$index}}"
               ng-pattern="/^\+?\d{5,}$/">
        <span class="input-group-btn" ng-hide="1 === authProvider.getSignupModel().phones.length">
          <button class="btn btn-default" type="button"
                  ng-click="authProvider.getSignupModel().phones.splice($index, 1)">
            <i class="glyphicon glyphicon-remove"></i>
          </button>
        </span>
      </div>
      <span class="help-block">Пример: 71234567890</span>
    </div>

    <div class="text-right">
      <span class="btn btn-success btn-xs" ng-click="authProvider.getSignupModel().phones.push({phone: ''})">
        <i class="glyphicon glyphicon-plus"></i> Добавить
      </span>
    </div>
  </div>

  <div class="form-group has-feedback" ng-class="{'has-error': orgSignupForm.fax.$dirty && orgSignupForm.fax.$invalid}">
    <label class="control-label" for="fax">Факс</label>
    <input name="fax" id="fax" ng-model="authProvider.getSignupModel().fax" class="form-control" maxlength="20" />
  </div>

  <div class="form-group has-feedback"
       ng-class="{'has-error': orgSignupForm.username.$invalid, 'has-success': orgSignupForm.username.$valid}">
    <label for="username">Логин пользователя <span class="form-require-mark">*</span></label>
    <input name="username" id="username" ng-model="authProvider.getSignupModel().username" class="form-control"
           required ng-pattern="/^[A-Za-z0-9@_-]+$/" />
    <span class="glyphicon form-control-feedback"
          ng-class="{'glyphicon-remove': orgSignupForm.username.$invalid, 'glyphicon-ok': orgSignupForm.username.$valid}"></span>
    <span class="help-block" ng-show="orgSignupForm.username.$error.pattern">
      Разрешены символы: A-Z, a-z, 0-9, @, _, -
    </span>
  </div>

  <div class="form-group has-feedback"
       ng-class="{'has-error': orgSignupForm.password.$invalid, 'has-success': orgSignupForm.password.$valid}">
    <label for="password">Пароль <span class="form-require-mark">*</span></label>

    <div class="alert alert-warning"ng-show="showGeneratedPassword">
      Сгенерированный пароль: <strong>{{authProvider.getSignupModel().password}}</strong>
    </div>

    <div class="input-group">
      <input name="password" id="password" ng-model="authProvider.getSignupModel().password" class="form-control"
             required type="password" ng-change="showGeneratedPassword = false" />
      <!-- Quickfix for chrome autofill bug (https://code.google.com/p/chromium/issues/detail?id=352347) -->
      <input type="password" name="password" style="display: none"/>
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" title="Сгенерировать пароль"
                ng-click="authProvider.generatePassword(); showGeneratedPassword = true">
          <i class="glyphicon glyphicon-random"></i>
        </button>
      </span>
    </div>
  </div>

  <div class="form-group has-feedback"
       ng-class="{'has-error': orgSignupForm.passwordConfirm.$invalid, 'has-success': orgSignupForm.passwordConfirm.$valid}">
    <label for="passwordConfirm">
      Повторите пароль <span class="form-require-mark">*</span>
    </label>
    <input name="passwordConfirm" id="passwordConfirm" ng-model="authProvider.getSignupModel().passwordConfirm"
           type="password" class="form-control" required password-repeat="password" />
    <span class="glyphicon form-control-feedback"
          ng-class="{'glyphicon-remove': orgSignupForm.passwordConfirm.$invalid, 'glyphicon-ok': orgSignupForm.passwordConfirm.$valid}"></span>
    <span class="help-block"
          ng-show="orgSignupForm.passwordConfirm.$dirty && orgSignupForm.passwordConfirm.$error.passwordRepeat">
      Неверно введен повтор пароля
    </span>
  </div>

  <div class="form-group has-feedback"
       ng-class="{'has-error': orgSignupForm.userLastName.$invalid, 'has-success': orgSignupForm.userLastName.$valid}">
    <label for="userLastName">
      Фамилия пользователя <span class="form-require-mark">*</span>
    </label>
    <span class="glyphicon form-control-feedback"
          ng-class="{
            'glyphicon-remove': orgSignupForm.userLastName.$invalid,
            'glyphicon-ok': orgSignupForm.userLastName.$valid
          }"></span>
    <input name="userLastName" id="userLastName" ng-model="authProvider.getSignupModel().userLastName"
           class="form-control" required />
  </div>

  <div class="form-group has-feedback"
       ng-class="{'has-error': orgSignupForm.userFirstName.$invalid, 'has-success': orgSignupForm.userFirstName.$valid}">
    <label for="userFirstName">
      Имя пользователя <span class="form-require-mark">*</span>
    </label>
    <span class="glyphicon form-control-feedback"
          ng-class="{
            'glyphicon-remove': orgSignupForm.userFirstName.$invalid,
            'glyphicon-ok': orgSignupForm.userFirstName.$valid
          }"></span>
    <input name="userFirstName" id="userFirstName" ng-model="authProvider.getSignupModel().userFirstName"
           class="form-control" required />
  </div>

  <div class="form-group">
    <label class="control-label" for="userMiddleName">Отчество пользователя</label>
    <input name="userMiddleName" id="userMiddleName" ng-model="authProvider.getSignupModel().userMiddleName"
           class="form-control" />
  </div>

  <div class="form-group has-feedback"
       ng-class="{'has-error': orgSignupForm.certificatePhoto.$dirty && orgSignupForm.certificatePhoto.$invalid}">
    <label class="control-label">
      Скан/фото свидетельства госрегистрации <span class="form-require-mark">*</span>
    </label>
    <pd-file-selector pd-allow-preview ng-model="authProvider.getSignupModel().certificatePhoto"
                      name="certificatePhoto" required pd-max-height="150px"></pd-file-selector>
  </div>

  <div class="form-group">
    <div vc-recaptcha
         ng-model="authProvider.getSignupModel().recaptchaData"
         theme="white"
         lang="ru"
         key="{{recaptchaPublicKey}}"></div>
  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-lg btn-primary" ng-disabled="orgSignupForm.$invalid" ng-click="signup()">
      Регистрация
    </button>
  </div>
</form>
