.catalog-bc {
  .catalog-filters-panel {
    &.pb-sticky-block {
      position: fixed;
      top: 50px;
      left: 0;
      right: 0;

      .panel-heading {
        display: none;
      }
      &+.catalog-products-list {
        padding-top: 84px;
      }
    }
  }

  .catalog-product-item {
    width: 275px;
    margin: 5px;
    padding: 10px;
    display: inline-block;
    border: solid 1px shade(#fff, 30%);
    border-radius: 5px;
    vertical-align: top;
    cursor: pointer;

    .media-heading {
      color: $link-color;
      word-break: break-word;
    }
    .product-photo {
      float: left;
      margin-right: 10px;
    }
  }

  .catalog-product-modal {
    .product-image-media {
      margin-bottom: 10px;
    }
  }

  .catalog-places-map {
    display:block;
    position: relative;

    .catalog-places-map-categories-filter {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 245px;
      padding: 10px;
      overflow-y: scroll;
      background-color: #ddd;
      opacity: 0.6;
      margin-top: 50px;

      &:hover {
        opacity: 1;
      }
    }
    .additional-controls-cont {
      position: absolute;
      top: 5px;
      left: 800px;
      text-align: right;

      .draw-polygon-places-btn {
        margin-top: 10px;
        margin-right: 4px;
      }
    }
    .signup-supplier-btn {
      position: absolute;
      right: 5px;
      top: 45px;
    }
  }

  .catalog-unowned-places-details-cont {
    padding: 15px 0 0;
  }
  .map-signin-signout-btn-cont {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  .unsaved-places-alert {
    width: 25%;
    position: absolute;
    top: 45px;
    right: 5px;
  }
}

.catalog-page {
  @extend .catalog-bc;
}

// ToDo: Break compatibility for map page
.map-page {
  @extend .catalog-bc;
}
