.catalog-filters-panel {
  &.pb-sticky-block {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .panel-heading {
      display: none;
    }
    &+.catalog-products-list {
      padding-top: 84px;
    }
  }
}

.catalog-product-item {
  width: 275px;
  margin: 5px;
  padding: 10px;
  display: inline-block;
  border: solid 1px shade(#fff, 30%);
  border-radius: 5px;
  vertical-align: top;
  cursor: pointer;

  .product-photo {
    float: left;
    margin-right: 10px;
  }
}

.catalog-product-modal {
  .product-image-media {
    margin-bottom: 10px;
  }
}

.catalog-places-map {
  display:block;
  height: 300px;
  position: relative;

  .catalog-places-map-categories-filter {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 245px;
    padding: 10px;
    overflow-y: scroll;
    background-color: #ddd;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }
}
