.client-panel-place-map {
  display:block;
  height: 300px;
}

.client-panel-places-block {
  .clearfix {
    padding-bottom: 20px;
  }
}

.client-panel-site-item {
  margin: 15px 0;
  padding: 0 15px;
}