.client-panel-place-map {
  display:block;
  height: 300px;
}

.client-panel-places-block {
  .clearfix {
    padding-bottom: 20px;
  }
  .place-item-container {
    &.active {
      background-color: #f9f9f9;
    }
  }
  .graves-list {
    li {
      float: none;
      vertical-align: top;
      .panel {
        margin-bottom: 0;
        margin-top: 15px;
      }
    }
  }
}

.client-panel-site-item {
  margin: 15px 0;
  padding: 0 15px;
}

.order-place-photo-cont {
  position: relative;
//  overflow: auto;

  .order-available-performers-cont {
    position: absolute;
    top: 42px;
    background: #E7E7E7;
    z-index: 99;
    width: 100%;
    padding: 10px 15px;
    border: solid 1px #9D9D9D;
    border-radius: 5px;
  }
}
