form {
  .select2-container {
    width: 100%!important;
  }
}

.feedback-btn {
  b {
    $backgroundColor: #080;
    $textColor: #fff;

    padding: 5px 10px;
    border-radius: 15px;
    background-color: $backgroundColor;
    color: $textColor;

    &:active {
      background-color: darken($backgroundColor, 10%);
      color: darken($textColor, 20%);
    }
  }
}