form {
  .select2-container {
    width: 100%!important;
  }
}

.feedback-btn {
  b {
    $backgroundColor: #080;
    $textColor: #fff;

    padding: 5px 10px;
    border-radius: 15px;
    background-color: $backgroundColor;
    color: $textColor;

    &:active {
      background-color: darken($backgroundColor, 10%);
      color: darken($textColor, 20%);
    }
  }
}

.terms-and-conditions-modal {
  .modal-body {
    p, h4 {
      text-indent: 35px;
    }
    p {
      text-align: justify;
    }
  }
}

.navbar-default {
  .navbar-nav {
    .signin-btn {
      background-color: $brand-success;
      color: #fff;

      &:hover {
        background-color: darken($brand-success, 5%);
        color: #fff;
      }
      &:active {
        background-color: darken($brand-success, 10%);
      }
    }
  }
}
