// Only set variables and import another files here

$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import "sass-bootstrap/lib/bootstrap";
@import "partials/sticky_footer";
@import "partials/animations";
@import "partials/bootstrap-pd";
@import "partials/helpers";
@import "catalog";
@import "client-panel";