// Only set variables and import another files here

$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$table-bg-active: darken(#f5f5f5, 10%);

@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";
@import "partials/reset";
@import "partials/sticky_footer";
@import "partials/animations";
@import "partials/bootstrap-pd";
@import "partials/helpers";
@import "partials/bootstrap_loading_block";
@import "catalog";
@import "client-panel";
@import "signin";