.form-signin {
  max-width: 348px;
  padding: 15px;
  margin: 0 auto;

  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .input-group {
    .input-group-btn {
      .btn {
        height: 43px;
        width: 43px;
        border-bottom: 0;
      }
    }
    &.login-input-group {
      .input-group-btn {
        .btn {
          border-bottom-right-radius: 0;
        }
      }
    }
  }

  input[type=text] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  input[type=password] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}