<ya-map class="fullview-header-footer orgplaces-map pd-ya-map"
        ya-zoom="10"
        ya-options="{maxZoom: 18}" ya-event-click="pdLoruPlaces.addStoreYaMapEvent($event)">
  <ya-toolbar ya-name="zoomControl"></ya-toolbar>
  <ya-toolbar ya-name="typeSelector"></ya-toolbar>
  <pd-ya-search-toolbar ya-options="{left: 15, top: 15}"></pd-ya-search-toolbar>
  <ya-collection show-all="true">
    <ya-geo-object ng-repeat="point in pdLoruPlaces.getStoresGeoObjects() track by point.properties.placeData.id"
                   ya-source="point" ya-event-click="pdLoruPlaces.selectGeoObjectEvent($event)"></ya-geo-object>
    <ya-geo-object ya-source="pdLoruPlaces.getSelectedPlaceGeoObject()"
                   ya-event-dragend="pdLoruPlaces.selectedGeoObjectDragendEvent($event)"></ya-geo-object>
  </ya-collection>

  <div ng-show="pdLoruPlaces.getSelectedPlaceGeoObject()" class="edit-modal-cont">
    <form role="form" name="placeEditAddForm" novalidate>
      <div class="form-group has-feedback"
           ng-class="{'has-error': placeEditAddForm.orgPlaceName.$dirty && placeEditAddForm.orgPlaceName.$invalid}">
        <label for="orgPlaceName">Название</label>
        <input class="form-control" id="orgPlaceName" placeholder="Введите название" required
               name="orgPlaceName"
               ng-model="pdLoruPlaces.getSelectedPlaceGeoObject().properties.placeData.name">
        <span class="glyphicon glyphicon-remove form-control-feedback"
              ng-show="placeEditAddForm.orgPlaceName.$dirty && placeEditAddForm.orgPlaceName.$invalid"></span>
      </div>
      <div class="form-group">
        <label for="orgPlaceAddress">Адрес</label>
        <textarea class="form-control" id="orgPlaceAddress" readonly
                  ng-model="pdLoruPlaces.getSelectedPlaceGeoObject().properties.placeData.address"></textarea>
      </div>
      <div class="form-group">
        <label>Телефоны</label>

        <div class="input-group margin-bottom-15"
             ng-repeat="phoneObj in pdLoruPlaces.getSelectedPlaceGeoObject().properties.placeData.phones">
          <input class="form-control" ng-model="phoneObj.phone" required ng-pattern="/^\d{10,12}$/">
          <span class="input-group-btn">
            <button class="btn btn-danger" type="button"
                    ng-click="pdLoruPlaces.removePhoneFromSelectedStore(phoneObj)">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </span>
        </div>

        <div class="clearfix"></div>
        <button class="btn btn-default btn-xs"
                ng-click="pdLoruPlaces.addPhone2SelectedStore()">Добавить телефон</button>
      </div>

      <button type="submit" class="btn btn-success"
              ng-disabled="placeEditAddForm.$invalid"
              ng-click="saveStore()"
              ng-show="pdLoruPlaces.getSelectedPlaceGeoObject().properties.placeData.id">Сохранить</button>
      <button type="submit" class="btn btn-success" ng-disabled="placeEditAddForm.$invalid"
              ng-click="addStore()"
              ng-hide="pdLoruPlaces.getSelectedPlaceGeoObject().properties.placeData.id">Добавить</button>
      <button class="btn btn-default" ng-click="pdLoruPlaces.cancelEdit()">Отмена</button>
      <button class="btn btn-danger" ng-click="removeStore()"
              ng-show="pdLoruPlaces.getSelectedPlaceGeoObject().properties.placeData.id">Удалить</button>
    </form>
  </div>
</ya-map>