<h1>Список товаров и услуг</h1>

<div class="row under-navbar" pb-sticky-block top-position="50">
  <div class="text-right col-xs-12">
    <a ui-sref="loru.products.add" class="btn btn-primary">
      <i class="glyphicon glyphicon-plus"></i>
      Добавить товар/услугу
    </a>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-3 col-lg-2">
      <label class="show">
        <input type="checkbox" ng-model="filters.is_archived" ng-change="applyFilter()">
        Архивные товары
      </label>

      <hr/>

    <label ng-repeat="category in categories" class="show">
      <input type="checkbox" ng-model="filters.selectedCategories[$index]" ng-true-value="{{category.id}}"
             ng-change="applyFilter()">
      {{category.name}}
    </label>
  </div>
  <div class="clearfix visible-xs visible-sm"></div>

  <div class="col-xs-12 col-md-9 col-lg-10">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Название</th>
        <th>Описание</th>
        <th>Активен</th>
        <th>Стоимость</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="service in userServices" bindonce>
        <td bo-text="service.title"></td>
        <td bo-text="service.description"></td>
        <td>
          <input type="checkbox" ng-model="service.isActive" ng-disabled="serviceDisableTracker.active()"
                 ng-change="service.isActive ? activateService(service) : deactivateService(service)">
        </td>
        <td>
          <ul class="list-unstyled">
            <li ng-repeat="measure in service.measures">
              <span bo-text="measure.title"></span>
              &nbsp;
              <a href="#" editable-number="measure.price" e-min="0.01" e-step="0.01"
                 onbeforesave="updateServiceMeasure(service.type, measure.name, $data)">
                {{ measure.price || '-' }}
              </a>
            </li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="col-xs-12 col-md-9 col-lg-10"
       ng-init="limitProducts = 40" infinite-scroll='limitProducts = limitProducts + 40' infinite-scroll-distance='2'>
    <table class="table table-striped products-list">
      <thead class="products-list-header" pb-sticky-block top-position="105">
      <tr>
        <th>Артикул</th>
        <th>Название</th>
        <th>Тип</th>
        <th>Ед. измерения</th>
        <th title="Продукт будет отмечен в Заказе по-умолчанию">По умолчанию</th>
        <th>Цена розничная</th>
        <th>Цена оптовая</th>
        <th>Показ в публичном каталоге</th>
        <th>Показ в оптовом каталоге</th>
        <th>Архивное</th>
        <th>Изображение</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="product in products|limitTo:limitProducts" bindonce>
        <td bo-text="product.sku"></td>
        <td bo-text="product.name"></td>
        <td bo-text="product.type.name"></td>
        <td bo-text="product.measurementUnit"></td>
        <td bo-bind="product.isDefault ? 'да' : 'нет'"></td>
        <td>
          <a href="#" editable-number="product.retailPrice" e-min="0.01" e-step="0.01"
             onaftersave="updateProduct(product)">
            {{ product.retailPrice || '-' }}
          </a>
        </td>
        <td>
          <a href="#" editable-number="product.tradePrice" e-min="0.01" e-step="0.01"
             onaftersave="updateProduct(product)">
            {{ product.tradePrice || '-' }}
          </a>
        </td>
        <td>
          <input type="checkbox" name="isShownInRetailCatalog" ng-model="product.isShownInRetailCatalog"
                 ng-disabled="disabledVisibilityControls || !product.retailPrice"
                 ng-change="updateProduct(product)"
                 ng-attr-title="{{ !product.retailPrice ? 'Для публикации необходимо указать цену' : '' }}" />
        </td>
        <td>
          <input type="checkbox" name="isShownInTradeCatalog" ng-model="product.isShownInTradeCatalog"
                 ng-disabled="disabledVisibilityControls || !product.tradePrice"
                 ng-change="updateProduct(product)"
                 ng-attr-title="{{ !product.tradePrice ? 'Для публикации необходимо указать цену' : '' }}" />
        </td>
        <td>
          <input type="checkbox" name="isArchived" ng-model="product.isArchived"
                 ng-change="updateProduct(product)" />
        </td>
        <td>
          <img bo-src="product.imageUrl|pdThumbnail:'200x200'" bo-show="product.imageUrl"
               class="img-thumbnail thumbnail-50 scale-image scale-image-6"/>
        </td>
        <td>
          <a ui-sref="loru.products.edit({productId: product.id})" class="btn btn-info btn-sm">Редактировать</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
