@mixin animatedRotate($animationName, $duration: 1s, $timingFunction: easy, $iterationCount: infinite) {
  animation-name: $animationName;
  animation-duration: 1s;
  animation-timing-function: easy;
  animation-iteration-count: infinite;
}

/* Rotate animation keyframes */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@mixin slideTop($duration: .1s, $timingFunction: easy-in-out) {
  animation-duration: $duration;
  animation-timing-function: $timingFunction;
  animation-fill-mode: backwards;
  animation-name: slideFromTop;

  &.ng-hide-add,
  &.ng-hide-remove {
    display:block!important;
  }
  &.ng-hide {
    animation-name: slideToTop;
  }
}

@keyframes slideFromTop {
  from {
    transform: translateY(-100%);
  }
}

@keyframes slideToTop {
  to {
    transform: translateY(-100%);
  }
}

/**
 * Create selector classes for predefined mixins
 */
.animated-rotate {
  @include animatedRotate(rotate);
}

.animated-slide-top {
  @include slideTop();
}