@mixin animatedRotate($animationName, $duration: 1s, $timingFunction: easy, $iterationCount: infinite) {
  animation-name: $animationName;
  animation-duration: 1s;
  animation-timing-function: easy;
  animation-iteration-count: infinite;
}

/* Rotate animation keyframes */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animated-rotate {
  @include animatedRotate(rotate);
}