.form-require-mark {
  color: #c00;
  font-weight: bold;
}

.custom-file-input {
  position: relative;
  overflow: hidden;

  input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 200px;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
  }
}

