.growl {
  top: 60px;
  z-index: $zindex-modal + 1;
  transition: opacity .25s ease-in-out;

  .growl-item {
    font-size: 13px;

    &.growl-item-close-by-click {
      position: relative;
      padding: 10px;

      .close {
        line-height: 0;
        font-size: 0;
        color: transparent;
        right: 0;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }
}