@each $marginPosition in bottom, top, left, right {
  .no-#{$marginPosition}-margin {
    margin-#{$marginPosition}: 0;
  }
}
.reset-margin {
  margin: 0;
}

@each $paddingPosition in bottom, top, left, right {
  .no-#{$paddingPosition}-padding {
    padding-#{$paddingPosition}: 0;
  }
}
.margin-right-15 {
  margin-right: 15px;
}
.margin-top-bottom-5 {
  margin: 5px 0;
}
.margin-top-8 {
  margin-top: 8px;
}

// widths
.width-250 {
  width: 250px!important;
}

.reset-padding {
  padding: 0;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-top-15 {
  margin-top: 15px;
}

.pointer-cursor {
  cursor: pointer;
}

.inline {
  display: inline-block;
}

.fullview-header-footer {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 50px;
}
