<div class="row">
  <div class="col-xs-12 col-md-3 col-lg-2">
    <label ng-repeat="category in categories" class="show">
      <input type="checkbox" ng-model="filters.category[$index]" ng-true-value="{{category.id}}"
             ng-change="applyFilter()">
      {{category.name}}
    </label>
  </div>
  <div class="clearfix visible-xs visible-sm"></div>
  <div class="col-xs-12 col-md-9 col-lg-10"
       ng-init="limitProducts = 40" infinite-scroll='limitProducts = limitProducts + 40' infinite-scroll-distance='2'>
    <ng-form name="optMarketplace">
      <table class="table table-striped table-opt-marketplace-products">
        <thead>
        <tr pb-sticky-block>
          <th colspan="5" class="text-right">
            <form class="form-inline col-xs-6" role="form">
              <div class="form-group has-feedback">
                <label class="control-label" for="search">Поиск</label>
                <input type="text" class="form-control" ng-model="searchData.productNameQuery" id="search">
                <span class="glyphicon glyphicon-remove form-control-feedback pointer-cursor"
                      ng-show="searchData.productNameQuery" ng-click="searchData.productNameQuery = ''"></span>
              </div>
            </form>

            <button class="btn btn-success" ng-click="checkout()" ng-disabled="!cart.getCount()">
              <i class="glyphicon glyphicon-shopping-cart"></i>
              Заказать
            </button>
            <button class="btn btn-default" title="Показать все или только корзину"
                    ng-click="formData.showAll = !formData.showAll" ng-disabled="!cart.getCount()">
              <i class="glyphicon glyphicon-list-alt"></i>
              Все/Корзина
            </button>
          </th>
          <th>Итого: {{cart.getTotalPrice()|toFixed:2}}</th>
        </tr>
        <tr>
          <th>Артикул</th>
          <th>Фото</th>
          <th>Название</th>
          <th>Цена</th>
          <th>Количество в корзине</th>
          <th>Стоимость</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="product in supplierStore.getStoreProducts()|filter:search|limitTo:limitProducts track by product.id"
            ng-show="formData.showAll || formData.quantities[product.id]" bindonce>
          <td bo-bind="product.sku"></td>
          <td>
            <img bo-src="product.photo|pdThumbnail:'200x200'"
                 class="img-thumbnail thumbnail-50 scale-image scale-image-6"
                 bo-show="product.photo" />
          </td>
          <td>
            <span bo-bind="product.name"></span>
            <p><small bo-bind="product.description"></small></p>
          </td>
          <td>
            <span bo-text="product.price"></span> <span bo-text="product.currency"></span>
            <small>(за <span bo-text="product.measure"></span>)</small>
          </td>
          <td>
            <div class="form-group" ng-class="{ 'has-error': optMarketplace.product_qty_{{$index}}.$invalid }">
              <input id="product_qty_{{$index}}" ng-model="formData.quantities[product.id]" type="text" class="form-control"
                     name="product_qty_{{$index}}" ng-change="cart.addProduct(product, formData.quantities[product.id])"
                     ng-pattern="/^\d+$/">
            </div>
          </td>
          <td>
            <span ng-show="product.price * formData.quantities[product.id]">
              {{product.price * formData.quantities[product.id]|toFixed:2}} <span bo-text="product.currency"></span>
            </span>
          </td>
          <td>
            <button class="btn btn-danger btn-xs" ng-show="formData.quantities[product.id]"
                    ng-click="formData.quantities[product.id] = ''; cart.removeProduct(product)">
              Удалить
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </ng-form>
  </div>
</div>
