<div class="row">
    <form role="form" name="orderForm" novalidate>
        <div class="row col-xs-10 col-xs-offset-1">
            <div class="row">
                <div class="form-group col-xs-3">
                    <label for="createdDate">Дата заказа</label>
                    <input type="text" class="form-control" id="createdDate"
                        name="createdDate" ng-model="order.createdDate"
                        mask="39.19.9999">
                </div>

                <div class="form-group col-xs-3">
                    <label for="dueDate">Дата похорон</label>
                    <input type="text" class="form-control" id="dueDate"
                        name="dueDate" ng-model="order.dueDate"
                        mask="39.19.9999">
                </div>
            </div>
        </div>

        <div class="row col-xs-10 col-xs-offset-1">
            <h4>Заказчик</h4>

            <div class="row">
                <div class="form-group col-xs-3">
                    <label for="lastName">Фамилия</label>
                    <input type="text" class="form-control" id="lastName"
                        name="lastName" ng-model="order.customer.lastName">
                </div>

                <div class="form-group col-xs-3">
                    <label for="firstName">Имя</label>
                    <input type="text" class="form-control" id="firstName"
                        name="firstName" ng-model="order.customer.firstName">
                </div>

                <div class="form-group col-xs-3">
                    <label for="middleName">Отчество</label>
                    <input type="text" class="form-control" id="middleName"
                        name="middleName" ng-model="order.customer.middleName">
                </div>

                <div class="form-group col-xs-3">
                    <label for="phoneNumber">Номер телефона</label>
                    <input type="text" class="form-control" id="phoneNumber"
                        name="phoneNumber" ng-model="order.customer.phoneNumber">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-3 col-xs-offset-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="order.customer.createCabinet"> Создать кабинет
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-4">
                    <label for="address">Адрес</label>
                    <input type="text" class="form-control" id="address"
                        name="address" ng-model="order.customer.address">
                </div>
            </div>
        </div>

        <div class="row col-xs-10 col-xs-offset-1">
            <h4>Умерший</h4>

            <div class="row">
                <div class="form-group col-xs-4">
                    <label for="deadmanLastName">Фамилия</label>
                    <input type="text" class="form-control" id="deadmanLastName"
                        name="deadmanLastName" ng-model="order.deadman.lastName">
                </div>

                <div class="form-group col-xs-4">
                    <label for="deadmanFirstName">Имя</label>
                    <input type="text" class="form-control" id="deadmanFirstName"
                        name="deadmanFirstName" ng-model="order.deadman.firstName">
                </div>

                <div class="form-group col-xs-4">
                    <label for="deadmanMiddleName">Отчество</label>
                    <input type="text" class="form-control" id="deadmanMiddleName"
                        name="deadmanMiddleName" ng-model="order.deadman.middleName">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-4">
                    <label for="deadmanDOB">Дата рождения</label>
                    <input type="text" class="form-control" id="deadmanDOB"
                        name="deadmanDOB" ng-model="order.deadman.dob"
                        mask="39.19.9999">
                </div>

                <div class="form-group col-xs-4">
                    <label for="deadmanDOD">Дата смерти</label>
                    <input type="text" class="form-control" id="deadmanDOD"
                        name="deadmanDOD" ng-model="order.deadman.dod"
                        mask="39.19.9999">
                </div>
            </div>
        </div>

        <div class="row col-xs-10 col-xs-offset-1">
            <h4>Транспорт</h4>

            <div class="row">
                <div class="form-group col-xs-3">
                    <label for="initialPlace">Место подачи</label>
                    <input type="text" class="form-control" id="initialPlace"
                        name="initialPlace" ng-model="order.initialPlace">
                </div>

                <div class="form-group col-xs-3">
                    <label for="initialTime">Время подачи</label>
                    <input type="text" class="form-control" id="initialTime"
                        name="initialTime" ng-model="order.initialTime"
                        mask="29:59">
                </div>

                <div class="form-group col-xs-3">
                    <label for="servicePlace">Место отпевания</label>
                    <input type="text" class="form-control" id="servicePlace"
                        name="servicePlace" ng-model="order.servicePlace">
                </div>

                <div class="form-group col-xs-3">
                    <label for="serviceTime">Время отпевания</label>
                    <input type="text" class="form-control" id="serviceTime"
                        name="serviceTime" ng-model="order.serviceTime"
                        mask="29:59">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-3">
                    <label for="cemeteryName">Кладбище</label>
                    <input type="text" class="form-control" id="cemeteryName"
                        name="cemeteryName" ng-model="order.place.cemeteryText">
                </div>

                <div class="form-group col-xs-3">
                    <label for="burialPlanTime">Время похорон</label>
                    <input type="text" class="form-control" id="burialPlanTime"
                        name="burialPlanTime" ng-model="order.burialPlanTime"
                        mask="29:59">
                </div>

                <div class="form-group col-xs-3">
                    <label for="repastPlace">Место поминок</label>
                    <input type="text" class="form-control" id="repastPlace"
                        name="repastPlace" ng-model="order.repastPlace">
                </div>

                <div class="form-group col-xs-3">
                    <label for="repastTime">Время поминок</label>
                    <input type="text" class="form-control" id="repastTime"
                        name="repastTime" ng-model="order.repastTime"
                        mask="29:59">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-3">
                    <label for="size">Размеры гроба</label>
                    <input type="text" class="form-control" id="size"
                        name="size" ng-model="order.place.size">
                </div>
            </div>

        </div>

        <div class="row margin-bottom-15">
            <div class="col-xs-5">
                <div class="form-inline margin-bottom-15">
                    <div class="form-group">
                        <input lass="form-control" ng-model="q.title" id="filter" placeholder="Фильтр" />
                    </div>
                </div>

                <div style="max-height: 600px; overflow-y: scroll;">
                    <div ng-repeat="category in categories | filter:categorySearchValue"
                        ng-class-odd="'products-odd-group'">

                        <p>{{ category.title }}</p>

                        <p ng-repeat="product in category.products | filter:q"
                            ng-hide="isSelectedProduct(product)">

                            <button class="btn btn-xs btn-link" ng-click="addProduct(product)">
                                <i class="glyphicon glyphicon-plus"></i>
                            </button>

                            {{ product.title }} ({{ product.price }} р.)

                        </p>

                    </div>
                </div>
            </div>

            <div class="table-responsive col-xs-7">
                <table class="table" style="display: block; max-height: 600px; overflow-y: scroll;">
                    <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Количество</th>
                        <th>Цена</th>
                        <th>Скидка</th>
                        <th>Сумма</th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="product in order.products">
                        <td>{{ product.title }}</td>
                        <td>
                            <input class="form-control input-sm"
                                ng-model="product.amount">
                        </td>
                        <td>{{ product.price|currency:'' }}</td>
                        <td>
                            <input class="form-control input-sm"
                                ng-model="product.discount">
                        </td>
                        <td>{{ getProductTotal(product)|currency:'' }}</td>
                        <td>
                            <button class="btn btn-xs btn-link" ng-click="removeProduct(product)">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <dl class="dl-horizontal" ng-show="order.products.length">
                    <dt>Итого:</dt>
                    <dd>{{ getProductsTotal()|currency:'' }}</dd>
                </dl>
            </div>
        </div>

        <button type="submit" class="btn btn-default btn-primary col-xs-offset-1" ng-click="onSubmit()">
            Сохранить
        </button>
    </form>
</div>
