<div class="panel panel-default" ng-click="mother.$state.go('hram.persons.details', { personId: card.id })">
  <div class="panel-body">
    <img ng-src="{{ card.imageUrl }}" default-image="http://placehold.it/500x500"
         class="img-rounded" style="width: 100%;">
    <ul class="list-unstyled">
      <li>{{ card.lastName }}</li>
      <li>{{ card.firstName }}</li>
      <li>{{ card.middleName }}</li>
      <li ng-show="card.birthDate || card.deathDate">
        {{ card.birthDate }} - {{ card.deathDate }}
      </li>
    </ul>
  </div>
</div>
