<div class="row">
  <div class="panel panel-default" ng-if="userData.places.length">
    <div class="panel-heading">
      <h4 class="panel-title">Места захоронений</h4>
    </div>

    <div class="panel-body">
      <ya-map class="client-panel-place-map"
              ya-center="{{centerYaPoint}}"
              ya-zoom="10"
              ya-options="{maxZoom: 18}">
        <ya-toolbar ya-name="zoomControl"></ya-toolbar>
        <ya-collection show-all="true">
          <ya-geo-object ng-repeat="point in placesPoints" ya-source="point"></ya-geo-object>
        </ya-collection>
      </ya-map>
    </div>
  </div>
</div>

<div deckgrid source="userData.places"
     cardTemplate="views/modules/frontend/client/partials/place_item.html" class="deckgrid row"></div>
