.oms-places-photos {
  .zoom      { width: 500px; }
  .small img { width: 500px; height: 500px; }
  .large img { width: 1200px; height: 1200px; background: white; }

  .gallery-title-image {
    border: solid 1px grey;
    margin-bottom: 10px;
  }
}
