.oms-placesmap {
  .inventory-map {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 50px;

    .filters-btn-group {
      position: absolute;
      top: 15px;
      left: 30px;
    }
  }
}