form[name=orgSignupForm] {
  ya-map {
    height: 300px;
    width: 100%;
    display: block;

    .ya-pd-autocomplete-search {
      width: 95%;

      .dropdown-menu {
        & > li {
          & > a {
            white-space: normal;
          }
        }
      }
    }
  }
  .bank-account-form {
    display: block;
    padding-bottom: 15px;
  }
}
