<div class="panel panel-default" ng-show="newProductsStates">
  <div class="panel-heading">
    <h1 class="panel-title">Продукты на площадках</h1>
  </div>
  <div class="panel-body row" ng-include="'adv_buttons_block.html'"></div>

  <table class="table table-hover">
    <tr>
      <td class="text-right">
        <ul class="list-unstyled">
          <li>Название площадки:</li>
          <li>Стоимость ежедневного списания:</li>
          <li>Стоимость разового списания:</li>
        </ul>
      </td>
      <td ng-repeat="place in places" style="min-width: 135px;">
        <ul class="list-unstyled">
          <li>{{place.name}}</li>
          <li>{{place.costForEnable}} {{place.currency.shortName}}</li>
          <li>{{place.costForUp}} {{place.currency.shortName}}</li>
        </ul>
      </td>
    </tr>
    <tr ng-repeat="product in products">
      <td>
        <a ng-href="{{backendUrl + 'manage/product/' + product.id + '/edit/'}}" target="_blank">{{product.name}}</a>
      </td>
      <td ng-repeat="place in places"
          ng-class="{'active': isChangedProductInPlace(product.id, place.id)}">
        <div class="btn-group">
          <button type="button"
                  class="btn btn-default"
                  ng-model="newProductsStates[product.id][place.id]"
                  ng-class="{'btn-danger': newProductsStates[product.id][place.id] === 'disable'}"
                  btn-radio="'disable'">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
          <button type="button"
                  class="btn btn-default"
                  ng-model="newProductsStates[product.id][place.id]"
                  ng-class="{'btn-success': newProductsStates[product.id][place.id] === 'enable'}"
                  btn-radio="'enable'">
            <span class="glyphicon glyphicon-ok"></span>
          </button>
          <div class="btn-group"
               ng-init="isDisabledUp = newProductsStates[product.id][place.id] === 'disable' ||
                                          isChangedProductInPlace(product.id, place.id, 'enable')"
               ng-attr-title="{{isDisabledUp ?
                                  'Обновление публикации возможно только для уже опубликованного товара' :
                                  ''}}">
            <button type="button"
                    class="btn btn-default"
                    ng-model="newProductsStates[product.id][place.id]"
                    ng-class="{'btn-primary': newProductsStates[product.id][place.id] === 'up'}"
                    btn-radio="'up'"
                    ng-disabled="isDisabledUp">
              <span class="glyphicon glyphicon-arrow-up"></span>
            </button>
          </div>
        </div>
      </td>
    </tr>
  </table>

  <div class="panel-footer">
    <div class="row" ng-include="'adv_buttons_block.html'"></div>
  </div>
</div>

<script type="text/ng-template" id="adv_buttons_block.html">
  <div class="col-xs-12 col-sm-7 col-md-6 col-md-offset-2 col-lg-5 col-lg-offset-3">
    <button class="btn btn-default" ng-click="resetAllStates()">Обнулить все</button>
    <button class="btn btn-warning" ng-click="cancelChanges()"
            ng-disabled="!changedProducts.length">Отменить действия</button>
    <button class="btn btn-success" ng-click="saveChanges()"
            ng-disabled="!changedProducts.length">Сохранить</button>
  </div>
  <div class="col-xs-12 col-sm-5 col-md-4">
    <ul class="list-unstyled">
      <li>Сумма ежедневного списания: <strong>{{totalEnabled}}</strong></li>
      <li>Сумма разового списания: <strong>{{totalUpped}}</strong></li>
    </ul>
  </div>
</script>