<div class="row">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th></th>
      <th>Место</th>
      <th>Поставщик</th>
      <th>Дата заказа</th>
      <th>Дата посещения (плановая)</th>
      <th>Дата посещения (фактическая)</th>
      <th>Стоимость</th>
      <th>Оценка</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><img src="http://placehold.it/50x50"></td>
      <td>Место1</td>
      <td>Поставщик1</td>
      <td>23-10-2014</td>
      <td>28-10-2014</td>
      <td>28-10-2014</td>
      <td>1000 Руб.</td>
      <td><a ui-sref="shop.main.details({shopId: 1})">Просмотр</a></td>
    </tr>
    <tr>
      <td><img src="http://placehold.it/50x50"></td>
      <td>Место1</td>
      <td>Поставщик1</td>
      <td>23-10-2014</td>
      <td>28-10-2014</td>
      <td>28-10-2014</td>
      <td>1000 Руб.</td>
      <td><a ui-sref="shop.main.details({shopId: 1})">Просмотр</a></td>
    </tr>
    <tr>
      <td><img src="http://placehold.it/50x50"></td>
      <td>Место1</td>
      <td>Поставщик1</td>
      <td>23-10-2014</td>
      <td>28-10-2014</td>
      <td>28-10-2014</td>
      <td>1000 Руб.</td>
      <td><a ui-sref="shop.main.details({shopId: 1})">Просмотр</a></td>
    </tr>
    <tr>
      <td><img src="http://placehold.it/50x50"></td>
      <td>Место1</td>
      <td>Поставщик1</td>
      <td>23-10-2014</td>
      <td>28-10-2014</td>
      <td>28-10-2014</td>
      <td>1000 Руб.</td>
      <td><a ui-sref="shop.main.details({shopId: 1})">Просмотр</a></td>
    </tr>
    <tr>
      <td><img src="http://placehold.it/50x50"></td>
      <td>Место1</td>
      <td>Поставщик1</td>
      <td>23-10-2014</td>
      <td>28-10-2014</td>
      <td>28-10-2014</td>
      <td>1000 Руб.</td>
      <td><a ui-sref="shop.main.details({shopId: 1})">Просмотр</a></td>
    </tr>
    </tbody>
  </table>
</div>
