<nav class="navbar navbar-default navbar-fixed-top"
     role="navigation"
     ng-class="menuManager.getClasses()"
     ng-hide="menuManager.isHidden()">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#!/">Похоронное Дело</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li active-link ng-repeat="item in menuItems"><a ng-href="{{item.link}}">{{item.title}}</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right" ng-show="auth.isAuthenticated()">
        <li active-link ng-repeat="item in rightMenuItems" ng-class="{'dropdown': 'dropdown' === item.type}"
            ng-switch="item.type">
          <a ng-href="{{item.link}}" ng-switch-default>{{item.title}}</a>

          <a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-switch-when="dropdown">
            <i class="glyphicon" ng-show="item.icon" ng-class="item.icon"></i>
            {{item.title}}
            &nbsp;<b class="caret"></b>
          </a>
          <ul class="dropdown-menu" ng-switch-when="dropdown">
            <li active-link ng-repeat="subitem in item.items"
                ng-class="{'{{ subitem.class }}': true, 'dropdown-submenu': subitem.items.length}">
              <a ng-href="{{subitem.link}}" ng-if="!('divider' === subitem.class || subitem.hide)">
                {{subitem.title}}
              </a>

              <ul class="dropdown-menu" ng-show="subitem.items.length">
                <li ng-repeat="item in subitem.items">
                  <a ng-href="{{item.link}}">{{item.title}}</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle feedback-btn" data-toggle="dropdown"><b>?</b></a>
          <ul class="dropdown-menu">
            <li><a href="" ng-click="showFeedbackModal()">Задать вопрос</a></li>
            <li><a ng-href="{{backendUrl}}tutorial">Курс видеообучения</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" ng-hide="auth.isAuthenticated()">
        <li>
          <a href="" ng-click="signinModal()" class="signin-btn">Войти</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
