<div class="page-header">
  <h1>Каталог</h1>
</div>

<div class="panel panel-default catalog-filters-panel" pb-sticky-block top-position="50">
  <div class="panel-heading">Фильтры</div>
  <div class="panel-body">
    <form class="form-inline row" role="form">
      <div class="form-group col-xs-6 col-sm-2">
        <select class="form-control" ui-select2 ng-model="filters.place" multiple data-placeholder="Место">
          <option ng-repeat="f in placesFilter" value="{{f.id}}">{{f.place}}</option>
        </select>
      </div>
      <div class="form-group col-xs-6 col-sm-2">
        <select class="form-control" ng-model="filters.supplier" ui-select2 multiple data-placeholder="Поставщик">
          <option ng-repeat="f in suppliersFilter" value="{{f.id}}">{{f.name}}</option>
        </select>
      </div>

      <div class="clearfix visible-xs"></div>

      <div class="form-group col-xs-6 col-sm-2">
        <input type="number" class="form-control" placeholder="Цена от" min="0" ng-model="filters.price_from" />
      </div>
      <div class="form-group col-xs-6 col-sm-2">
        <input type="number" class="form-control" placeholder="Цена до" min="0" ng-model="filters.price_to" />
      </div>

      <div class="clearfix visible-xs"></div>

      <div class="form-group col-xs-12 col-sm-2">
        <select class="form-control" ng-model="filters.category" ng-options="c.id as c.name for c in categoriesFilter">
          <option value="">Категория</option>
        </select>
      </div>

      <div class="clearfix hidden-lg"></div>

      <div class="col-xs-12 col-lg-2 btn-group">
        <button type="submit" class="btn btn-primary" ng-click="applyFilters(applyFilters)">
          Применить
        </button>
        <button class="btn btn-warning" ng-click="clearFilters()">
          <span class="glyphicon glyphicon-remove-circle"></span>
        </button>
      </div>
    </form>
  </div>
</div>

<div class="catalog-products-list"
     infinite-scroll="catalog.productsDataProvider.getNextProducts()"
     infinite-scroll-disabled="catalog.productsDataProvider.isBusy()">

  <div ng-repeat="product in catalog.productsDataProvider.getProducts()"
       class="catalog-product-item"
       ng-click="openProductDetailsModal(product.id)">

    <h4 class="media-heading" ng-show="product.name">{{product.name}}</h4>

    <div class="media">
      <div class="pull-left">
        <img class="img-thumbnail media-object product-photo"
             ng-src="{{product.photo}}"
             pd-thumb
             pd-thumb-size=120x100
             default-image="http://placehold.it/100x100" />
      </div>
      <div class="media-body">
        <dl>
          <dt ng-show="product.sku">Артикул</dt>
          <dd ng-show="product.sku">{{product.sku}}</dd>
          <dt ng-show="product.description">Описание</dt>
          <dd ng-show="product.description">{{product.description}}</dd>
          <dt>Поставщик</dt>
          <dd>{{product.supplier}}</dd>
          <dt>Цена</dt>
          <dd>{{product.price}}</dd>
          <dt>Валюта</dt>
          <dd>{{product.currency}}</dd>
          <dt ng-show="product.measure">Оплата за</dt>
          <dd ng-show="product.measure">{{product.measure}}</dd>
        </dl>
      </div>
    </div>

  </div>

  <div class="alert alert-info" ng-show="catalog.productsDataProvider.isBusy()">
    <span class="glyphicon glyphicon-refresh animated-rotate"></span> Загрузка ...
  </div>
  <div class="alert alert-info" ng-show="catalog.productsDataProvider.isNoMoreProducts()">
    <span class="glyphicon glyphicon-ban-circle"></span> Нет больше данных
  </div>

</div>