<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Детали заказа {{order.number}}</h4>
</div>

<div class="modal-body">
  <div class="row margin-bottom-15">
    <div class="col-xs-12">
      Сумма заказа: <strong>{{ totalCost|toFixed:2 }}</strong>
    </div>
  </div>
  <div class="row">
    <tabset justified="true" class="col-xs-9">
      <tab heading="Детали" select="onChangedTab('details')">
        <dl>
          <dt ng-show="order.services.length">Позиции заказа</dt>
          <dd ng-show="order.services.length">
            <ul>
              <li ng-repeat="service in order.services">
                {{service.title}} <small>({{service.price}})</small>
              </li>
            </ul>
          </dd>
          <dt>Адрес доставки</dt>
          <dd>{{order.place.address}}</dd>
        </dl>

        <h4>Исполнитель</h4>
        <dl>
          <dt>Наименование</dt>
          <dd>{{ order.performer.fullname }}</dd>
          <dt>Адрес</dt>
          <dd>{{ order.performer.address }}</dd>
          <dt>Телефоны</dt>
          <dd>{{ order.performer.phones.join(', ') }}</dd>
          <dt ng-show="order.performer.fax">Факс</dt>
          <dd ng-show="order.performer.fax">{{ order.performer.fax }}</dd>
          <dt ng-show="order.performer.email">E-mail</dt>
          <dd ng-show="order.performer.email">
            <a ng-href="mailto:{{ order.performer.email }}" target="_self">{{ order.performer.email }}</a>
          </dd>
        </dl>

        <h4>Результаты</h4>
        <ul class="media-list margin-top-15">
          <li class="media" ng-repeat="result in order.results|orderBy:'createdAt':true">
            <div class="pull-left" pd-fancybox="{{result.fileUrl}}">
              <img ng-src="{{result.fileUrl|pdThumbnail:'50x50'}}" class="img-thumbnail">
            </div>
            <div class="media-body">
              <p><small>{{result.createdAt|date:'yyyy-MM-dd HH:mm'}}</small></p>
            </div>
          </li>
        </ul>

        <h4>Комментарии</h4>
        <form role="form" ng-init="inFocus = false" outside-click="inFocus = false">
          <div ng-class="{'form-group': inFocus}">
            <textarea class="form-control" name="comment" ng-model="orderForm.commentText" msd-elastic
                      placeholder="Напишите комментарий..." ng-focus="inFocus = true"></textarea>
          </div>
          <button class="btn btn-primary btn-sm" ng-show="inFocus" ng-click="postComment()"
                  ng-disabled="!orderForm.commentText">
            Сохранить
          </button>
        </form>

        <ul class="media-list margin-top-15">
          <li class="media" ng-repeat="comment in order.comments|orderBy:'createdAt':true">
            <div class="pull-left">
              <img ng-src="{{comment.user.avatarUrl|pdThumbnail:'64x64'|default:'https://placehold.it/64x64'}}"
                   class="img-thumbnail-border">
            </div>
            <div class="media-body">
              <h5 class="media-heading">
                {{comment.user.username}}<small ng-show="comment.user.organisation"> ({{comment.user.organisation}})</small>
              </h5>
              {{comment.comment}}
              <p><small>{{comment.createdAt|date:'yyyy-MM-dd HH:mm'}}</small></p>
            </div>
            <hr ng-show="!$last && order.comments.length > 1" class="reset-margin margin-top-8" />
          </li>
        </ul>
      </tab>

      <tab heading="Редактирование" select="onChangedTab('products')" disabled="!isAllowEdit || !products.length">
        <form>
          <table class="table table-bordered">
            <thead>
            <tr>
              <th width="77"></th>
              <th>Название</th>
              <th>Стоимость</th>
              <th>Количество</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="productMeta in products">
              <td>
                <img class="img-thumbnail"
                     ng-src="{{productMeta.product.photo}}"
                     pd-thumb
                     pd-thumb-size=50x50
                     default-image="https://placehold.it/50x50"
                     ng-attr-alt="{{productMeta.product.name}}"/>
              </td>
              <td>{{productMeta.product.name}}</td>
              <td>{{productMeta.product.price}} ({{ productMeta.product.currency }})</td>
              <td>
                <div class="form-group">
                  <touchspin ng-model="productMeta.qty" min="0" max="100" step="1"></touchspin>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </form>
      </tab>

      <tab heading="Отзыв" select="onChangedTab('review')">
        <div ng-show="'done' === order.status" class="btn-group" role="group" ng-click="saveRating()">
          <button type="button" class="btn btn-default" ng-class="{'btn-success': true === order.clientRating}"
                  ng-click="order.clientRating = (true === order.clientRating) ? null : true">
            <i class="glyphicon glyphicon-thumbs-up"></i>
          </button>
          <button type="button" class="btn btn-default" ng-class="{'btn-danger': false === order.clientRating}"
                  ng-click="order.clientRating = (false === order.clientRating) ? null : false">
            <i class="glyphicon glyphicon-thumbs-down"></i>
          </button>
        </div>

        <form role="form" name="reviewForm">
          <div class="form-group">
            <label for="title">Заголовок</label>
            <input class="form-control" id="title" name="title" ng-model="reviewModel.title">
          </div>
          <div class="form-group">
            <label for="commonText">Общее впечатление</label>
            <textarea class="form-control" id="commonText" name="commonText" ng-model="reviewModel.commentText"
                      msd-elastic></textarea>
          </div>
          <div class="form-group">
            <label for="positiveText">Положительные моменты</label>
            <textarea class="form-control" id="positiveText" name="positiveText" ng-model="reviewModel.positiveText"
                      msd-elastic></textarea>
          </div>
          <div class="form-group">
            <label for="negativeText">Отрицательные моменты</label>
            <textarea class="form-control" id="negativeText" name="negativeText" ng-model="reviewModel.negativeText"
                      msd-elastic></textarea>
          </div>

          <button class="btn btn-primary btn-sm" ng-click="postReview(reviewModel)" ng-disabled="reviewForm.$invalid">
            Сохранить
          </button>
        </form>
      </tab>
    </tabset>

    <div class="col-xs-3">
      <dl>
        <dt>Статус</dt>
        <dd>{{order.status|orderStatusLabel}}</dd>
      </dl>
      <hr/>

      <div ng-show="paymentData">
        <!-- dynamic action attribute not supported graceful, supported in angular 1.3+ -->
        <form method="post" action="{{paymentData.paymentServerUrl ? paymentData.paymentServerUrl : '#'}}">
          <input type="hidden" ng-value="value" ng-attr-name="{{name}}"
                 ng-repeat="(name, value) in paymentData.paymentProperties">
          <button class="btn btn-block btn-default" type="submit">Оплатить</button>
        </form>
      </div>
      <p ng-show="paymentSuccess">Оплата успешно завершена</p>

      <div ng-show="isAllowEdit" class="margin-top-15">
        <button class="btn btn-danger btn-block" ng-click="removeOrder()">Удалить</button>
      </div>

      <div ng-show="hasChangedProducts">
        <hr>
        <button class="btn btn-info btn-block" ng-click="saveProductsChanges()">Сохранить</button>
      </div>
    </div>
  </div>
</div>
