<h1>Детали заказа</h1>

<dl>
  <dt>Place id</dt>
  <dd>{{ order.placeId }}</dd>
  <dt>Status</dt>
  <dd>{{ order.status }}</dd>
</dl>

<h4>Результаты</h4>
<ul class="media-list margin-top-15">
  <li class="media" ng-repeat="result in order.results|orderBy:'createdAt':true">
    <div class="pull-left">
      <img ng-src="{{result.fileUrl|pdThumbnail:'50x50'}}" class="img-thumbnail">
    </div>
    <div class="media-body">
      <p><small>{{result.createdAt|date:'yyyy-MM-dd HH:mm'}}</small></p>
    </div>
  </li>
</ul>

<h4>Комментарии</h4>
<form role="form" ng-init="inFocus = false" outside-click="inFocus = false">
  <div ng-class="{'form-group': inFocus}">
    <textarea class="form-control" name="comment" ng-model="orderForm.commentText" msd-elastic
              placeholder="Напишите комментарий..." ng-focus="inFocus = true"></textarea>
  </div>
  <button class="btn btn-primary btn-sm" ng-show="inFocus" ng-click="postComment()"
          ng-disabled="!orderForm.commentText">
    Сохранить
  </button>
</form>

<ul class="media-list margin-top-15">
  <li class="media" ng-repeat="comment in order.comments|orderBy:'createdAt':true">
    <div class="pull-left">
      <img src="https://placehold.it/64x64">
    </div>
    <div class="media-body">
      <h5 class="media-heading">{{comment.user.username}}</h5>
      {{comment.comment}}
      <p><small>{{comment.createdAt|date:'yyyy-MM-dd HH:mm'}}</small></p>
    </div>
    <hr ng-show="!$last && order.comments.length > 1" class="reset-margin margin-top-8" />
  </li>
</ul>
