<h1>История заказов</h1>

<div class="row">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Дата создания</th>
      <th>Дата изменения</th>
      <th>Исполнитель</th>
      <th>Сумма</th>
      <th>Статус</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="order in orders" bindonce>
      <td bo-text="order.createdAt|date:'yyyy-MM-dd HH:mm'"></td>
      <td bo-text="order.modifiedAt|date:'yyyy-MM-dd HH:mm'"></td>
      <td bo-text="order.performer.name"></td>
      <td>{{order.totalPrice|toFixed:2}} ({{order.currency}})</td>
      <td bo-text="order.status|orderStatusLabel"></td>
      <td>
        <button ng-click="$state.go(orderDetailsState, {orderId: order.id})" class="btn btn-info btn-sm">Детали</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ui-view />
