.burial-memory-modal {
  .burial-data-media {
    .editable-wrap {
      display: block;
      width: 80%;
      margin-bottom: 5px;
    }
  }

  .memory-carousel {
    .flexslider {
      overflow: hidden;
      margin: 0;
    }
  }
}