<ya-map class="inventory-map fullview-header-footer"
        ya-after-init="afterMapInit($target)"
        ya-zoom="10"
        ya-options="{maxZoom: 18}"
        ya-behaviors="scrollZoom drag dblClickZoom">
  <ya-toolbar ya-name="zoomControl"></ya-toolbar>
  <ya-toolbar ya-name="typeSelector"></ya-toolbar>
  <pd-ya-search-toolbar ya-options="{left: 350, top: 15}"></pd-ya-search-toolbar>
  <ya-remote-object ya-source="remoteObjectManager"></ya-remote-object>
  <!-- <ya-collection show-all="true">
    <ya-geo-object ng-repeat="point in placesGeoObjects" ya-source="point"></ya-geo-object>
  </ya-collection> -->

  <div class="btn-group filters-btn-group">
    <label class="btn btn-info" ng-model="filters.statusFilter.dt_size_violated" btn-checkbox title="Нарушение размеров">
      <span class="glyphicon glyphicon-resize-full"></span>
    </label>
    <label class="btn btn-info" ng-model="filters.statusFilter.dt_unowned" btn-checkbox title="Заброшенное">
      <span class="glyphicon glyphicon-globe"></span>
    </label>
    <label class="btn btn-info" ng-model="filters.statusFilter.dt_unindentified" btn-checkbox title="Неопознанное">
      <span class="glyphicon glyphicon-eye-close"></span>
    </label>
    <label class="btn btn-info" ng-model="filters.statusFilter.dt_military" btn-checkbox title="Воинское">
      <span class="glyphicon glyphicon-flag"></span>
    </label>
    <label class="btn btn-info" ng-model="filters.statusFilter.dt_wrong_fio" btn-checkbox title="Неверные ФИО">
      <span class="glyphicon glyphicon-font"></span>
    </label>
    <label class="btn btn-info" ng-model="filters.statusFilter.dt_free" btn-checkbox>
      Свободные
    </label>
    <label type="button" class="btn btn-success" ng-model="filters.showActive" btn-checkbox>
      Действующие
    </label>
  </div>
</ya-map>
