<ui-view>
  <h1 class="inline">Оптовый интернет-магазин</h1>
  &nbsp;
  <h3 class="inline">
    <span ng-hide="supplier.isOwner">
      <span class="glyphicon glyphicon-star pointer-cursor" ng-show="supplier.isFavorite"
            title="Удалить поставщика из избранных"
            ng-click="removeFromFavorites(supplier.id)"></span>
      <span class="glyphicon glyphicon-star-empty pointer-cursor" ng-hide="supplier.isFavorite"
            title="Добавить поставщика в избранные"
            ng-click="addToFavorite(supplier.id)"></span>
    </span>
    {{supplier.shortName}}, {{supplier.phones|array2string}}
  </h3>

  <div ng-if="loggedUserOrganisation.id === supplier.id">
    <form class="form-inline" role="form">
      <h4 class="reset-padding margin-top-bottom-5 inline">Покупатель:</h4>
      <div class="inline">
        <div class="form-group margin-right-15">
          <input type="text" ng-model="customer" placeholder="Наименование или ИНН"
                 typeahead="customer as customer.name for customer in suppliersCollection|filter:$viewValue|limitTo:8|orderBy:'-dtLastOrder'"
                 typeahead-template-url="customerSearchTypeahead.html" class="form-control input-sm width-250"
                 typeahead-editable="false" ng-disabled="isManualOrdering" typeahead-on-select="cart.setCustomer($model)">
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="isManualOrdering" ng-change="customer = null; cart.clearCustomer()">
            Разовый
          </label>
        </div>
      </div>
    </form>
  </div>
  <hr/>

  <ng-include src="'views/modules/loru/opt_marketplace/partials/orders_list.html'"></ng-include>
</ui-view>

<script type="text/ng-template" id="customerSearchTypeahead.html">
  <a>
    <span bind-html-unsafe="match.label|typeaheadHighlight:query"></span>
    (<span bind-html-unsafe="match.model.tin|typeaheadHighlight:query"></span>)
  </a>
</script>
