<div class="page-header">
  <h1>Регистрация организации</h1>
</div>

<div class="row col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
  <form name="orgSignupForm" novalidate class="form-signup" role="form">
    <div class="alert alert-danger" ng-show="errorMsg">{{errorMsg}}</div>

    <div class="form-group has-feedback"
         ng-class="{'has-error': orgSignupForm.orgName.$dirty && orgSignupForm.orgName.$invalid}">
      <label class="control-label" for="orgName">Название организации</label>
      <input name="orgName" id="orgName" ng-model="authProvider.getSignupModel().orgName" class="form-control"
             required autofocus />
    </div>

    <div class="form-group" ng-show="authProvider.getOrgTypes()">
      <label class="control-label" for="orgType">Тип организации</label>
      <select name="orgType" id="orgType" ng-model="authProvider.getSignupModel().orgType" class="form-control"
              ng-options="type as title for (type, title) in authProvider.getOrgTypes()"></select>
    </div>

    <div class="form-group has-feedback"
         ng-class="{'has-error': orgSignupForm.registredOfficeAddress.$dirty && orgSignupForm.registredOfficeAddress.$invalid}">
      <label class="control-label" for="registredOfficeAddress">Юридический адрес</label>
      <textarea name="registredOfficeAddress" id="registredOfficeAddress" class="form-control" required
                ng-model="authProvider.getSignupModel().registredOffice.address" readonly></textarea>

      <ya-map class="margin-top-15"
              ya-zoom="10"
              ya-options="{maxZoom: 18}"
              ya-event-click="authProvider.yaMapOfficeClickHandle($event)">
        <ya-toolbar ya-name="zoomControl" ya-options="{left: 10}"></ya-toolbar>
        <ya-toolbar ya-name="typeSelector" ya-options="{left: 50}"></ya-toolbar>
        <pd-ya-search-toolbar ya-options="{left: 150, right: 100}"></pd-ya-search-toolbar>

        <ya-geo-object ya-source="authProvider.getOfficeGeoObject()"
                       ya-event-dragend="authProvider.officeGeoObjectDragendHandler($event)"></ya-geo-object>
      </ya-map>
    </div>

    <div class="form-group has-feedback"
         ng-class="{'has-error': orgSignupForm.directorFullname.$dirty && orgSignupForm.directorFullname.$invalid}">
      <label class="control-label" for="directorFullname">ФИО директора (в родительном падеже)</label>
      <input name="directorFullname" id="directorFullname" ng-model="authProvider.getSignupModel().directorFullname"
             class="form-control" required placeholder="Иванова Петра Петровича" />
    </div>

    <div class="form-group has-feedback" ng-init="authProvider.getSignupModel().directorPowerSource = 'charter'"
         ng-class="{'has-error': orgSignupForm.directorPowerSource.$dirty && orgSignupForm.directorPowerSource.$invalid}">
      <label class="control-label" for="directorPowerSource">Основание действия регистрирующего лица</label>
      <select name="directorPowerSource" id="directorPowerSource" class="form-control"
              ng-model="authProvider.getSignupModel().directorPowerSource"
              ng-options="source as title for (source, title) in authProvider.getDirectorPowerSources()"></select>
    </div>

    <div class="form-group has-feedback" ng-class="{'has-error': orgSignupForm.tin.$dirty && orgSignupForm.tin.$invalid}">
      <label class="control-label" for="tin">ИНН</label>
      <input name="tin" id="tin" ng-model="authProvider.getSignupModel().tin" class="form-control" required />
    </div>

    <div class="form-group has-feedback" ng-class="{'has-error': orgSignupForm.OGRN.$dirty && orgSignupForm.OGRN.$invalid}">
      <label class="control-label" for="OGRN">ОГРН</label>
      <input name="OGRN" id="OGRN" ng-model="authProvider.getSignupModel().OGRN" class="form-control" required />
    </div>

    <div class="form-group has-feedback" ng-class="{'has-error': orgSignupForm.email.$dirty && orgSignupForm.email.$invalid}">
      <label class="control-label" for="email">Email</label>
      <input name="email" id="email" ng-model="authProvider.getSignupModel().email" class="form-control" required
             type="email" />
    </div>

    <div class="form-group has-feedback" ng-init="authProvider.getSignupModel().phones = [{phone:''}]">
      <label>Телефон(ы)</label>

      <div ng-repeat="phoneItem in authProvider.getSignupModel().phones" class="margin-bottom-15 has-feedback"
           ng-class="{
              'input-group': authProvider.getSignupModel().phones.length > 1,
              'has-error': orgSignupForm.phones_{{$index}}.$dirty && orgSignupForm.phones_{{$index}}.$invalid
           }">
        <input class="form-control" ng-model="phoneItem.phone" required name="phones_{{$index}}">
        <span class="input-group-btn" ng-hide="1 === authProvider.getSignupModel().phones.length">
          <button class="btn btn-default" type="button"
                  ng-click="authProvider.getSignupModel().phones.splice($index, 1)">
            <i class="glyphicon glyphicon-remove"></i>
          </button>
        </span>
      </div>

      <div class="text-right">
        <span class="btn btn-success btn-xs" ng-click="authProvider.getSignupModel().phones.push({phone: ''})">
          <i class="glyphicon glyphicon-plus"></i> Добавить
        </span>
      </div>
    </div>

    <div class="form-group has-feedback" ng-class="{'has-error': orgSignupForm.fax.$dirty && orgSignupForm.fax.$invalid}">
      <label class="control-label" for="fax">Факс</label>
      <input name="fax" id="fax" ng-model="authProvider.getSignupModel().fax" class="form-control" required />
    </div>

    <div class="form-group has-feedback"
         ng-class="{'has-error': orgSignupForm.username.$dirty && orgSignupForm.username.$invalid}">
      <label class="control-label" for="username">Имя пользователя</label>
      <input name="username" id="username" ng-model="authProvider.getSignupModel().username" class="form-control" required />
    </div>

    <div class="form-group has-feedback"
         ng-class="{'has-error': orgSignupForm.password.$dirty && orgSignupForm.password.$invalid}">
      <label class="control-label" for="password">Пароль</label>

      <div class="alert alert-warning"ng-show="showGeneratedPassword">
        Сгенерированный пароль: <strong>{{authProvider.getSignupModel().password}}</strong>
      </div>

      <div class="input-group">
        <input name="password" id="password" ng-model="authProvider.getSignupModel().password" class="form-control"
               required type="password" ng-change="showGeneratedPassword = false" />
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" title="Сгенерировать пароль"
                  ng-click="authProvider.generatePassword(); showGeneratedPassword = true">
            <i class="glyphicon glyphicon-random"></i>
          </button>
        </span>
      </div>
    </div>

    <div class="form-group has-feedback"
         ng-class="{'has-error': orgSignupForm.passwordConfirm.$dirty && orgSignupForm.passwordConfirm.$invalid}">
      <label class="control-label" for="passwordConfirm">Повторите пароль</label>
      <input name="passwordConfirm" id="passwordConfirm" ng-model="authProvider.getSignupModel().passwordConfirm"
             type="password" class="form-control" required password-repeat="password" />
    </div>

    <div class="form-group has-feedback"
         ng-class="{'has-error': orgSignupForm.certificatePhoto.$dirty && orgSignupForm.certificatePhoto.$invalid}">
      <label class="control-label">Скан/фото свидетельства госрегистрации</label>
      <pd-file-selector pd-allow-preview ng-model="authProvider.getSignupModel().certificatePhoto"
                        name="certificatePhoto" required pd-max-height="150px"></pd-file-selector>
    </div>

    <div class="form-group" ng-init="authProvider.getSignupModel().bankAccounts = []">
      <label>Банковские реквизиты</label>

      <ng-form ng-repeat="bankAccount in authProvider.getSignupModel().bankAccounts" class="bank-account-form">
        <div class="form-group">
          <input class="form-control" ng-model="bankAccount.name" placeholder="Наименование банка" />
        </div>
        <div class="form-group">
          <input class="form-control" ng-model="bankAccount.account" placeholder="Расчетный/лицевой счет" />
        </div>
        <div class="form-group">
          <input class="form-control" ng-model="bankAccount.bik" placeholder="БИК"/>
        </div>
        <div class="form-group">
          <input class="form-control" ng-model="bankAccount.correspondent" placeholder="Юридический адрес" />
        </div>

        <div class="text-right">
          <span class="btn btn-danger btn-xs"
                  ng-click="authProvider.getSignupModel().bankAccounts.splice($index, 1)">
            <i class="glyphicon glyphicon-trash"></i> Удалить реквизиты
          </span>
        </div>
      </ng-form>

      <div>
        <span class="btn btn-success btn-xs" ng-click="authProvider.getSignupModel().bankAccounts.push({})">
          <i class="glyphicon glyphicon-plus"></i> Добавить реквизиты
        </span>
      </div>
    </div>

    <div class="form-group">
      <div vc-recaptcha
           ng-model="authProvider.getSignupModel().recaptchaData"
           theme="white"
           lang="ru"
           key="{{recaptchaPublicKey}}"></div>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-lg btn-primary" ng-disabled="orgSignupForm.$invalid" ng-click="signup()">
        Регистрация
      </button>
    </div>
  </form>
</div>