<div class="row">
  <div class="col-xs-3">Left panel</div>
  <div class="col-xs-9">
    <tabset justified="true">
      <tab heading="Товары и услуги">
        <div class="margin-bottom-15">
          <pd-carousel pd-carousel-responsive>
            <li ng-repeat="item in shop.gallery" pd-fancybox="{{item.imageUrl}}">
              <div class="thumbnail">
                <img ng-src="{{item.imageUrl}}" />
              </div>
            </li>
          </pd-carousel>
        </div>

        <div class="margin-bottom-15">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Название</th>
              <th>Стоимость</th>
              <th></th>
              <th ng-show="isSelectedAnyServices"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="service in shop.services">
              <td>{{service.name}}</td>
              <td>{{service.price}} {{service.currency}} ({{service.measure}})</td>
              <td><input type="checkbox" checklist-model="selectedServices" checklist-value="service.id"></td>
              <td ng-attr-rowspan="{{shop.services.length}}" ng-show="$first && selectedServices.length">
                <button class="btn btn-info" ng-click="showAvailablePlaces = !showAvailablePlaces">Заказать</button>
                <ul class="list-unstyled text-left order-available-performers-cont" ng-show="showAvailablePlaces">
                  <li>
                    Место 1&nbsp;<strong>1500 руб.</strong>
                    <button class="btn btn-link" ng-click="placeOrder()">заказать</button>
                  </li>
                  <li>
                    Место 2&nbsp;<strong>1500 руб.</strong>
                    <button class="btn btn-link" ng-click="placeOrder()">заказать</button>
                  </li>
                </ul>
                <!--<button class="btn btn-info" ng-disabled="!selectedPlaceMarker" ng-click="placeOrder()">Заказать</button>-->
                <!--<p class="help-block" ng-show="!selectedPlaceMarker">-->
                  <!--<small class="text-warning">-->
                    <!--<i class="glyphicon glyphicon-exclamation-sign"></i>&nbsp;Выберите место выполнения заказа (на карте)-->
                  <!--</small>-->
                <!--</p>-->
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </tab>

      <tab heading="Отзывы">
        <div class="row" ng-repeat="review in shop.reviews">
          <div class="col-xs-2">{{review.author.firstName}}</div>
          <div class="col-xs-10">
            <div class="panel panel-info">
              <div class="panel-heading">
                {{review.title}}
                <span class="pull-right">{{review.createdAt|momentDate:"MMMM DDD, YYYY"}}</span>
              </div>
              <div class="panel-body">
                <p>{{review.commonText}}</p>
                <p>
                  <small><i class="glyphicon glyphicon-plus text-success"></i></small>
                  {{review.positiveText}}
                </p>
                <p>
                  <small><i class="glyphicon glyphicon-minus text-danger"></i></small>
                  {{review.negativeText}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </tab>

      <tab heading="Правила">Comming soon</tab>
      <tab heading="Контакты">
        <p>
          <address>
            <dl>
              <dt>Адрес</dt>
              <dd>{{shop.contacts.address}}</dd>
              <dt ng-show="shop.contacts.email">E-mail</dt>
              <dd ng-show="shop.contacts.email">
                <a ng-href="mailto:{{ shop.contacts.email }}" target="_self">{{ shop.contacts.email }}</a>
              </dd>
              <dt ng-show="shop.contacts.fax">Факс</dt>
              <dd ng-show="shop.contacts.fax">{{shop.contacts.fax}}</dd>
              <dt ng-show="shop.contacts.phones.length">Телефоны</dt>
              <dd ng-show="shop.contacts.phones.length">
                <ul class="list-unstyled">
                  <li ng-repeat="phone in shop.contacts.phones">{{phone}}</li>
                </ul>
              </dd>
              <dt ng-show="shop.contacts.site">Сайт</dt>
              <dd ng-show="shop.contacts.site"><a ng-href="{{shop.contacts.site}}">{{shop.contacts.site}}</a></dd>
            </dl>
          </address>
        </p>
      </tab>
    </tabset>
  </div>
</div>
