<ya-map class="fullview-header-footer orgplaces-map pd-ya-map"
        ya-zoom="10"
        ya-options="{maxZoom: 18}"
        ya-type="{{pdOrgPlaces.getYaMapType()}}"
        ya-event-click="pdOrgPlaces.addStoreYaMapEvent($event)"
        ya-event-typechange="pdOrgPlaces.changedYaMapTypeHandler($event)">
  <ya-toolbar ya-name="zoomControl"></ya-toolbar>
  <ya-toolbar ya-name="typeSelector"></ya-toolbar>
  <pd-ya-search-toolbar ya-options="{left: 15, top: 15}"></pd-ya-search-toolbar>
  <ya-collection show-all="true">
    <ya-geo-object ng-repeat="point in pdOrgPlaces.getStoresGeoObjects() track by point.properties.placeData.id"
                   ya-source="point" ya-event-click="pdOrgPlaces.selectGeoObjectEvent($event)"></ya-geo-object>
    <ya-geo-object ya-source="pdOrgPlaces.getSelectedPlaceGeoObject()"
                   ya-event-dragend="pdOrgPlaces.selectedGeoObjectDragendEvent($event)"></ya-geo-object>
  </ya-collection>

  <div ng-show="pdOrgPlaces.getSelectedPlaceGeoObject()" class="edit-modal-cont">
    <form role="form" name="placeEditAddForm" novalidate>
      <div class="form-group has-feedback"
           ng-class="{'has-error': placeEditAddForm.orgPlaceName.$invalid, 'has-success': placeEditAddForm.orgPlaceName.$valid}">
        <label for="orgPlaceName">Название</label>
        <input class="form-control" id="orgPlaceName" placeholder="Введите название" required
               name="orgPlaceName"
               ng-model="pdOrgPlaces.getSelectedPlaceGeoObject().properties.placeData.name">

        <span class="glyphicon form-control-feedback"
              ng-class="{'glyphicon-remove': placeEditAddForm.orgPlaceName.$invalid, 'glyphicon-ok': placeEditAddForm.orgPlaceName.$valid}"></span>
      </div>

      <div class="form-group">
        <label for="orgPlaceAddress">Адрес</label>
        <textarea class="form-control" id="orgPlaceAddress" readonly
                  ng-model="pdOrgPlaces.getSelectedPlaceGeoObject().properties.placeData.address"></textarea>
      </div>

      <div class="form-group">
        <label>Телефоны</label>

        <div class="input-group has-feedback margin-bottom-15"
             ng-class="{'has-error': placeEditAddForm.phone_{{$index}}.$invalid}"
             ng-repeat="phoneObj in pdOrgPlaces.getSelectedPlaceGeoObject().properties.placeData.phones">
          <input class="form-control" ng-model="phoneObj.phone" ng-pattern="/^\d{10,12}$/" name="phone_{{$index}}">
          <span class="input-group-btn">
            <button class="btn btn-danger" type="button"
                    ng-click="pdOrgPlaces.removePhoneFromSelectedStore(phoneObj)">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </span>
        </div>

        <div class="clearfix"></div>
        <button class="btn btn-default btn-xs"
                ng-click="pdOrgPlaces.addPhone2SelectedStore()">Добавить телефон</button>
      </div>

      <button type="submit" class="btn btn-success"
              ng-disabled="placeEditAddForm.$invalid"
              ng-click="saveStore()"
              ng-show="pdOrgPlaces.getSelectedPlaceGeoObject().properties.placeData.id">Сохранить</button>
      <button type="submit" class="btn btn-success" ng-disabled="placeEditAddForm.$invalid"
              ng-click="addStore()"
              ng-hide="pdOrgPlaces.getSelectedPlaceGeoObject().properties.placeData.id">Добавить</button>
      <button class="btn btn-default" ng-click="pdOrgPlaces.cancelEdit()">Отмена</button>
      <button class="btn btn-danger" ng-click="removeStore()"
              ng-show="pdOrgPlaces.getSelectedPlaceGeoObject().properties.placeData.id">Удалить</button>
    </form>
  </div>
</ya-map>
