<div class="page-header text-center">
  <h1>Похоронное Дело</h1>
</div>

<div class="row">
  <div class="col-sm-6">
    <button class="btn btn-primary center-block"
            ng-click="loadedLoginForm = 'employee'"
            ng-show="loadedLoginForm !== 'employee'">Вход для сотрудников</button>

    <form name="employeeLoginForm" novalidate class="form-signin" role="form" ng-show="loadedLoginForm === 'employee'"
          fix-autofill="{{ loadedLoginForm === 'employee' }}" ng-submit="signin(signinModel, employeeLoginForm)">
      <div class="alert alert-danger" ng-show="formErrorMessage">{{ formErrorMessage }}</div>

      <input name="username" ng-model="signinModel.username" type="text" class="form-control" placeholder="Логин"
             required autofocus />
      <input name="password" ng-model="signinModel.password" type="password" class="form-control" placeholder="Пароль"
             required />
      <button type="submit"
              class="btn btn-lg btn-primary btn-block"
              ng-disabled="!employeeLoginForm.$valid">Войти</button>
    </form>
  </div>

  <div class="col-sm-6">
    <button class="btn btn-primary center-block"
            ng-click="loadedLoginForm = 'client'"
            ng-show="loadedLoginForm !== 'client'">Вход для клиентов</button>

    <form name="clientLoginForm" novalidate class="form-signin" role="form" ng-show="loadedLoginForm === 'client'"
          fix-autofill="{{ loadedLoginForm === 'client' }}" ng-submit="signin(signinModel, clientLoginForm)">
      <div class="alert alert-danger" ng-show="formErrorMessage">{{ formErrorMessage }}</div>
      <div class="alert alert-success" ng-show="formSuccessMessage">{{ formSuccessMessage }}</div>

      <div class="input-group login-input-group">
        <input name="username" ng-model="signinModel.username" type="text" class="form-control"
               placeholder="Номер телефона (74996772043)" required autofocus />
        <span class="input-group-btn">
          <button class="btn btn-default"
                  type="button"
                  popover-placement="top"
                  popover-append-to-body="true"
                  popover="Введите номер телефона в международном формате без '+' и без '8'. Пример: 74996772043">
            <strong>?</strong>
          </button>
        </span>
      </div>
      <input name="password" ng-model="signinModel.password" type="password" class="form-control"
             placeholder="Пароль" required />
      <button type="submit"
              class="btn btn-lg btn-primary btn-block"
              ng-disabled="!clientLoginForm.$valid">Войти</button>

      <h5 class="text-center text-muted">или</h5>
      <div vc-recaptcha
           ng-model="captchaData"
           theme="white"
           lang="ru"
           key="{{recaptchaPublicKey}}"></div>
      <label class="checkbox">
        <input type="checkbox" ng-model="confirmedTC" ng-init="confirmedTC = false">
        Принимаю <a href="javascript: void(0);" ng-click="showTCModal()">пользовательское соглашение</a>
      </label>
      <button type="button"
              class="btn btn-lg btn-info btn-block"
              ng-click="getPasswordBySms(signinModel.username, captchaData)"
              ng-disabled="!clientLoginForm.username.$valid || !captchaData.response || !confirmedTC">
        Получить пароль по SMS
      </button>
    </form>
  </div>
</div>