<div class="page-header">
  <h1>Похоронное Дело</h1>
</div>

<div class="row">
  <div class="col-sm-6">
    <button class="btn btn-primary center-block"
            ng-click="loadedLoginForm = 'employee'"
            ng-show="loadedLoginForm !== 'employee'">Вход для сотрудников</button>

    <form name="employeeLoginForm" novalidate class="form-signin" role="form" ng-show="loadedLoginForm === 'employee'">
      <div class="alert alert-danger" ng-show="formErrorMessage">{{ formErrorMessage }}</div>

      <input name="username" ng-model="signinModel.username" type="text" class="form-control" placeholder="Логин"
             required autofocus />
      <input name="password" ng-model="signinModel.password" type="password" class="form-control" placeholder="Пароль"
             required />
      <button class="btn btn-lg btn-primary btn-block"
              ng-disabled="!employeeLoginForm.$valid"
              ng-click="signin(signinModel, employeeLoginForm)">Войти</button>
    </form>
  </div>

  <div class="col-sm-6">
    <button class="btn btn-primary center-block"
            ng-click="loadedLoginForm = 'client'"
            ng-show="loadedLoginForm !== 'client'">Вход для клиентов</button>

    <form name="clientLoginForm" novalidate class="form-signin" role="form" ng-show="loadedLoginForm === 'client'">
      <div class="alert alert-danger" ng-show="formErrorMessage">{{ formErrorMessage }}</div>
      <div class="alert alert-success" ng-show="formSuccessMessage">{{ formSuccessMessage }}</div>

      <input name="username" ng-model="signinModel.username" type="text" class="form-control"
             placeholder="Номер телефона" required autofocus />
      <input name="password" ng-model="signinModel.password" type="password" class="form-control"
             placeholder="Пароль" required />
      <button class="btn btn-lg btn-primary btn-block"
              ng-click="signin(signinModel, clientLoginForm)"
              ng-disabled="!clientLoginForm.$valid">Войти</button>

      <h5 class="text-center text-muted">или</h5>
      <div vc-recaptcha
           ng-model="captchaData"
           theme="white"
           lang="ru"
           key="6Lei0O0SAAAAAOdE7TBoo_swYvho9uGz7hadCL0O"></div>
      <label class="checkbox">
        <input type="checkbox" ng-model="confirmedTC" ng-init="confirmedTC = true">
        Принимаю <a href="javascript: void(0);" ng-click="showTCModal()">пользовательское соглашение</a>
      </label>
      <button class="btn btn-lg btn-info btn-block"
              ng-click="getPasswordBySms(signinModel.username, captchaData)"
              ng-disabled="!clientLoginForm.username.$valid || !captchaData.response || !confirmedTC">
        Получить пароль по SMS
      </button>
    </form>
  </div>
</div>