<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Восстановить пароль</h4>
</div>

<div class="modal-body">
  <form name="restorePasswordForm">
    <div class="alert alert-danger" ng-show="restoreErrorMessage">{{restoreErrorMessage}}</div>
    <div class="alert alert-success" ng-show="restoreSuccessMessage">{{restoreSuccessMessage}}</div>

    <input name="username" ng-model="restoreModel.username" type="text" class="form-control"
           placeholder="Номер телефона (74996772043)" required />
    <div vc-recaptcha
        key="recaptchaPublicKey"
        ng-model="captchaResponse"
        lang="'ru'"
        class="margin-top-15"></div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-success" ng-click="getPasswordBySms(restoreModel.username, captchaResponse)"
          ng-disabled="!restorePasswordForm.username.$valid || !captchaResponse">Восстановить</button>
  <button type="button" class="btn btn-default" ng-click="$dismiss()">Закрыть</button>
</div>
