<p>
  Настоящее пользовательское соглашение (далее - Соглашение) peглaмeнтиpyeт oтнoшeния мeждy Обществом с ограниченной
  ответственностью «Интеграция возможностей» (далее - Администрация), и любым пользователем сети интернет
  (далее – Пользователь), изъявившим желание воспользоваться услугами Сайта и принявшим (акцептовавшим) публичное
  предложение (оферту) о заключении настоящего Соглашения.
</p>

<h4>1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ.</h4>

<p>
  Термины, используемые в настоящем Соглашении, означают:
  <ul>
    <li>Администрация – собственник Сайта, обеспечивающий функционирование Сайта и доступ к нему;</li>
    <li>
      Сайт – веб-страница в сети интернет, расположенная по адресу:
      <a href="https://pohoronnoedelo.ru">https://pohoronnoedelo.ru</a>;
    </li>
    <li>
      Пользователь – пользователь сети интернет, пользующийся или желающий начать пользоваться Сайтом Администрации;
    </li>
    <li>
      Учетная запись (аккаунт) Пользователя – набор формальных реквизитов, служащих для однозначной идентификации
      Пользователя;
    </li>
    <li>
      Персональные данные - фамилия, имя, отчество, адрес, другие фото-, видео-, текстовые материалы Пользователя и
      его усопших родственников.
    </li>
  </ul>
</p>

<h4>2.	ПРЕДМЕТ СОГЛАШЕНИЯ.</h4>
<p>
  2.1.	Администрация на условиях настоящего Соглашения предоставляет Пользователю доступ на Сайт, создает необходимые
  условия для свободного пользования всеми ресурсами Сайта, обеспечивает Пользователя необходимым набором «сервисов»
  для осуществления полноценного и всестороннего использования этого Сайта, как то: получать любую информацию,
  предлагаемую Сайтом; осуществлять интерактивное взаимодействие с Администрацией и другими Пользователями; общаться
  и обмениваться информацией с другими Пользователями.
</p>
<p>
  2.2.	Пользователь несет полную ответственность за достоверность информации, размещенной им на Сайте.
</p>
<p>
  2.3.	Пользователь, разместивший информацию на Сайте, самостоятельно представляет и защищает свои интересы в
  отношениях с третьими лицами, возникающие в связи с размещенной информацией.
</p>

<h4>3.	РЕГИСТРАЦИЯ ПОЛЬЗОВАТЕЛЯ. УЧЕТНАЯ ЗАПИСЬ ПОЛЬЗОВАТЕЛЯ.</h4>
<p>
  3.1.	Для того, чтобы воспользоваться ресурсами Сайта, Пользователю необходимо пройти процедуру регистрации, в
  результате которой будет создана уникальная Учетная запись (аккаунт) Пользователя. Некоторые ресурсы сайта доступны
  Пользователю без регистрации.
</p>
<p>
  3.2.	Для регистрации Пользователь обязуется предоставить достоверную и полную информацию о себе по вопросам,
  предлагаемым в форме регистрации, и поддерживать эту информацию в актуальном состоянии. Администрация имеет право по
  своему усмотрению заблокировать либо удалить Учетную запись Пользователя и отказать Пользователю в использовании
  своих ресурсов (либо их отдельных функций).
</p>
<p>
  3.3.	Администрация оставляет за собой право в любой момент потребовать от Пользователя подтверждения данных,
  указанных при регистрации, и запросить в связи с этим подтверждающие документы (в частности - документы,
  удостоверяющие личность), непредставление которых, по усмотрению Администрации, может быть приравнено к
  предоставлению недостоверной информации и повлечь последствия, предусмотренные п. 3.2 Соглашения.
</p>
<p>
  В случае, если данные Пользователя, указанные в предоставленных им документах, не соответствуют данным, указанным
  при регистрации, а также в случае, когда данные, указанные при регистрации, не позволяют идентифицировать
  пользователя, Администрация вправе отказать Пользователю в доступе к Учетной записи и использовании ресурсов Сайта.
</p>
<p>
  3.4.	При регистрации Пользователь самостоятельно выбирает себе логин (уникальное символьное имя учетной записи
  Пользователя) и пароль для доступа к учетной записи. Администрация вправе запретить использование определенных
  логинов, а также устанавливать требования к логину и паролю (длина, допустимые символы и т.д.).
</p>
<p>
  3.5.	Пользователь самостоятельно несет ответственность за безопасность (устойчивость к угадыванию) выбранного им
  пароля, а также самостоятельно обеспечивает конфиденциальность своего пароля. Пользователь самостоятельно несет
  ответственность за все действия (а также их последствия) под учетной записью Пользователя, в рамках или с
  использованием ресурсов Сайта, включая случаи добровольной передачи Пользователем данных для доступа к учетной
  записи Пользователя третьим лицам на любых условиях (в том числе по договорам или соглашениям).
</p>
<p>
  При этом все действия под учетной записью Пользователя, в рамках или с использованием ресурсов Сайта, считаются
  произведенными самим Пользователем, за исключением случаев, когда Пользователь в порядке, предусмотренном п. 3.6.,
  уведомил Администрацию о несанкционированном доступе к ресурсам Сайта с использованием учетной записи Пользователя
  и (или) о любом нарушении (подозрениях о нарушении) конфиденциальности своего пароля.
</p>
<p>
  3.6.	Пользователь обязан немедленно уведомить Администрацию о любом случае несанкционированного (не разрешенного
  Пользователем) доступа к ресурсам Сайта с использованием учетной записи Пользователя и (или) о любом нарушении
  (подозрениях о нарушении) конфиденциальности своего пароля. В целях безопасности Пользователь обязан самостоятельно
  осуществлять завершение работы под своей учетной записью (кнопка «Выход») по окончании каждой сессии работы с
  ресурсами Сайта.
</p>
<p>
  Администрация не отвечает за возможную потерю или порчу данных, а также другие последствия любого характера, которые
  могут произойти из-за нарушения Пользователем положений этой части Соглашения.
</p>

<h4>4.	ПРАВА И ОБЯЗАННОСТИ СТОРОН.</h4>
<p>
  4.1.	Права и обязанности Администрации:
</p>
<p>
  4.1.2.	Администрация обязана предоставить Пользователю возможность пользоваться Сайтом на условиях настоящего
  Соглашения.
</p>
<p>
  4.1.3.	Администрация имеет право по собственному усмотрению редактировать, видоизменять, удалять любую информацию,
  размещаемую Пользователями без какого-либо предварительного уведомления об этом, в том числе в случае, если такая
  информация противоречит требованиям законодательства и требованиям настоящего Соглашения или требованиям (правилам)
  Администрации.
</p>
<p>
  4.1.4.	Администрация имеет право по собственному усмотрению удалять информацию, указанную в п.п. 4.2.5.3.-4.2.5.12.
  настоящего Соглашения, без какого-либо предварительного уведомления об этом Пользователя.
</p>
<p>
  4.1.5.	Администрация имеет право передать личные идентификационные данные Пользователей, иную информацию, указанную
  Пользователями при регистрации (в процессе использования) на Сайте, соответствующим государственным
  правоохранительным и иным органам в порядке и в случаях, предусмотренных законодательством.
</p>
<p>
  4.1.6.	Администрация имеет право ограничить доступ Пользователю (иному физическому лицу) к ресурсам Сайта в случае
  нарушения требований настоящего Соглашения, отказать в регистрации учетной записи Пользователю, учетная запись
  которого была ранее удалена за нарушение условий Соглашения.
</p>
<p>
  4.1.7.	Администрация имеет право в любое время внести изменения в настоящее Соглашение в любой его части без
  предварительного и (или) последующего уведомления об этом Пользователя.
</p>
<p>
  4.2.	Права и обязанности Пользователя:
</p>
<p>
  4.2.1.	Пользователь обязуется использовать ресурсы Сайта в соответствии с требованиями настоящего Соглашения.
</p>
<p>
  4.2.2.	Пользователь имеет право в любое время отказаться от использования ресурсов Сайта, удалить свою учетную запись.
</p>
<p>
  4.2.3.	Пользователь обязуется не использовать ресурсы Сайта для рекламы собственных товаров (работ, услуг).
</p>
<p>
  4.2.4.	Пользователь обязуется не препятствовать деятельности Сайта, а равно не использовать программно-технические
  методы и средства воздействия на Сайт, в том числе с целью дестабилизировать его работу.
</p>
<p>
  4.2.5.	Пользователь не имеет права:
</p>
<p>
  4.2.5.1.	Выдавать себя за другого человека и (или) представителя организации и (или) сообщества без достаточных на
  то прав, в том числе за сотрудников Администрации, за модераторов форумов, за владельца Сайта, а также применять
  любые другие формы и способы незаконного представительства других лиц в сети, а также вводить пользователей или
  Администрацию в заблуждение относительно свойств и характеристик каких-либо субъектов или объектов.
</p>
<p>
  4.2.5.2.	Использовать информацию, представленную на Сайте, в коммерческих и иных целях без получения на то
  письменного согласия Администрации.
</p>
<p>
  4.2.5.3.	Загружать, отправлять, передавать или любым другим способом размещать и (или) распространять не
  разрешенную специальным образом рекламную информацию, спам (в том числе и поисковый), списки чужих адресов
  электронной почты, схемы «пирамид», многоуровневого (сетевого) маркетинга (MLM), системы интернет-заработка и
  e-mail-бизнесов, «писем счастья», а также использовать Сайт для участия в этих мероприятиях, или использовать Сайт
  исключительно для перенаправления пользователей на страницы других сайтов.
</p>
<p>
  4.2.5.4.	Загружать, отправлять, передавать или любым другим способом размещать и (или) распространять какие-либо
  материалы, содержащие вирусы или другие компьютерные коды, файлы или программы, предназначенные для нарушения,
  уничтожения либо ограничения функциональности любого компьютерного или телекоммуникационного оборудования или
  программ, для осуществления несанкционированного доступа, а также серийные номера к коммерческим программным
  продуктам и программы для их генерации, логины, пароли и прочие средства для получения несанкционированного доступа
  к платным ресурсам в Интернете, а также размещения ссылок на вышеуказанную информацию.
</p>
<p>
  4.2.5.5.	Размещать на Сайте материалы, оскорбляющие или унижающие честь и достоинство, деловую репутацию других
  Пользователей или третьих лиц, заведомо ложную информацию или ссылки на такие материалы.
</p>
<p>
  4.2.5.6.	Размещать на Сайте нецензурные или бранные слова или словосочетания, в том числе использовать их в имени
  Пользователя.
</p>
<p>
  4.2.5.7.	Размещать на Сайте материалы порнографического характера или ссылки на них.
</p>
<p>
  4.2.5.8.	Размещать на Сайте призывы к насилию и совершению противоправных действий.
</p>
<p>
  4.2.5.9.	Размещать на Сайте материалы с элементами насилия, жестокости, расовой, межнациональной или межрелигиозной
  розни, а также ссылки на такие материалы.
</p>
<p>
  4.2.5.10.	Пропагандировать и демонстрировать на Сайте нацистскую атрибутику или символику.
</p>
<p>
  4.2.5.11.	Пропагандировать на Сайте преступную деятельность, размещать руководства по совершению противоправных
  действий.
</p>
<p>
  4.2.5.12.	Размещать на Сайте любую другую информацию, которая по мнению Администрации является нежелательной,
  нарушает нормы морали и этики и (или) нарушает действующее законодательство.
</p>

<h4>5.	ПЕРСОНАЛЬНЫЕ ДАННЫЕ.</h4>
<p>
  5.1.	Пользователь дает согласие на обработку Администрацией своих Персональных данных и (или) Персональных данных
  его усопших родственников в соответствии с Федеральным законом от 27.07.2006 N 152-ФЗ "О персональных данных".
</p>
<p>
  В случае, если Пользователь передает Администрации Персональные данные усопших, то он должен быть законным
  представителем (наследником) таковых.
</p>
<p>
  5.2.	Цель обработки Персональных данных – в достижении общественно значимой цели - формирования культуры почитания
  предков, при условии, что не будут нарушены права и свободы Пользователя.
</p>
<p>
  5.3.	Перечень персональных данных, подлежащих обработке:
</p>
<p>
  фамилия, имя, отчество, адрес, другие фото, видео, текстовые материалы Пользователя и его усопших родственников.
</p>
<p>
  5.4.	Общее описание используемых Администрацией способов обработки Персональных данных Пользователя: смешанная
  обработка Персональных данных: сбор, запись, систематизация, накопление, хранение, уточнение (обновление),
  извлечение, использование, передача (предоставление доступа третьим лицам, деятельность которых связана с
  регистрацией захоронений и (или) исполнением Счет-заказа), обезличивание, блокирование, удаление из баз данных,
  уничтожение Персональных данных, а также передача Персональных данных усопшего, включая распространение,
  предоставление доступа посредством публикации в информационных системах (базах данных) и (или) в сети интернет на
  портале (веб-сайтах), принадлежащих Администрации.
</p>
<p>
  5.5.	Срок, в течение которого Администрация использует Персональные данные, может быть ограничен волеизъявлением
  Пользователя или законодательством.
</p>
<p>
  5.6.	Согласие на обработку персональных данных может быть отозвано Пользователем в одностороннем порядке и в любое
  время.
</p>
<p>
  5.7.	Администрация обязуется не раскрывать третьим лицам и не распространять Персональные данные без согласия
  Пользователя.
</p>
<p>
  5.8.	Администрация несет полную ответственность за достоверность информации, которую загружает, посылает, передает
  или каким-либо другим способом делает доступной с помощью Сайта.
</p>

<h4>6.	ОТВЕТСТВЕННОСТЬ СТОРОН.</h4>
<p>
  6.1.	Пoльзoвaтeль иcпoльзyeт Caйт нa cвoй coбcтвeнный cтpax и pиcк. Bce вoзмoжнocти Caйтa пpeдocтaвляютcя "кaк ecть".
</p>
<p>
  6.2.	Пользователь полностью и всецело несет ответственность за любую информацию, размещаемую им (Пользователем) на
  Сайте.
</p>
<p>
  6.3.	Любую информацию и (или) материалы (в том числе загружаемое ПО, письма, какие-либо инструкции и руководства к
  действию и т.д.), доступ к которым Пользователь получает с использованием Сайта, Пользователь может использовать на
  свой собственный страх и риск и самостоятельно несет ответственность за возможные последствия использования указанных
  информации и (или) материалов, в том числе за ущерб, который это может причинить компьютеру Пользователя или третьим
  лицам, за потерю данных или любой другой вред.
</p>
<p>
  6.4.	Администрация не несет ответственности за любые виды убытков, произошедшие вследствие использования
  Пользователем ресурсов Сайта. Все претензии, судебные иски о возмещении убытков, защите чести и достоинства, деловой
  репутации и т.п. должны направляться непосредственно Пользователю, по чьей вине были допущены данные нарушения.
</p>
<p>
  6.5.	Администрация не несет ответственности за качество и скорость Пользовательского доступа в интернет. По всем
  техническим вопросам, связанным с оказанием услуг связи, Пользователю следует обращаться к своему поставщику услуг
  связи.
</p>
<p>
  6.6.	Пользователи несут персональную личную ответственность за нарушение авторских и смежных прав в случае
  размещения на Сайте информации, размещать (использовать в какой бы то ни было форме) которую они не имеют права, за
  размещение информации, которая может нанести вред репутации и личности третьих лиц, интересам Государства и ее
  административно-территориальных единиц, иным юридическим и физическим лицам.
</p>
<p>
  6.7.	Пользователь самостоятельно отвечает за сохранность своих логина и пароля и не имеет права передавать и (или)
  предоставлять их третьим лицам. Все действия, совершенные на Сайте с использованием логина и пароля, принадлежащих
  Пользователю, считаются совершенными Пользователем. Ни при каких обстоятельствах Администрация не несет
  ответственности за использование третьими лицами логина и пароля.
</p>

<h4>7.	ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ.</h4>
<p>
  7.1.	Переписка между Администрацией и Пользователем осуществляется по электронной почте (e-mail). Администрация
  направляет письма Пользователю по адресам, указанным им при регистрации на Сайте. Отправленное Администрацией по
  такому адресу электронной почты (e-mail) письмо считается полученным и прочитанным Пользователем в тот же день.
</p>
<p>
  7.2.	Администрация имеет право в любое время внести изменения и (или) дополнения в настоящее Соглашение.
</p>
<p>
  7.3.	Регистрация на Сайте, а равно его использование без регистрации, является фактом принятия Пользователем
  условий настоящего Соглашения.
</p>
<p>
  7.5.	Настоящее Соглашение является публичной офертой. Соглашение считается заключенным с момента получения
  Администрацией акцепта (принятия Пользователем) условий оферты. Акцепт оферты производится путем осуществления
  Пользователем любых действий на Сайте (вход, изучение информации, размещение информации и т.д.).
</p>
<p>
  7.6.	В случае несогласия Пользователя с настоящим Соглашением в целом и (или) какой-либо его части, Пользователь
  обязан прекратить использование Сайта, в том числе удалить свою учетную запись и покинуть Сайт.
</p>

<h4>8.	ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ.</h4>
<p>
  8.1.	Пользователь в полной мере осознает и подтверждает, что в случае размещения им заведомо ложной информации,
  информации, оскорбляющей или унижающей честь и достоинство, деловую репутацию других Пользователей или третьих лиц,
  причинения убытков другим Пользователям, Администрации или третьим лицам, к Пользователю могут быть применены меры
  ответственности в соответствии с настоящим Соглашением и действующим законодательством.
</p>
<p>
  8.2.	Исполнение Соглашения и (или) его дополнений (изменений) обязательны для всех Пользователей Сайта.
</p>
<p>
  8.3.	Несоответствие Соглашения в какой-либо части требованиям внутреннего законодательства и нормам международного
  права не является основанием для признания его недействительным в целом.
</p>
