<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Пользовательское соглашение</h4>
</div>

<div class="modal-body">
  <ng-include src="'views/terms_and_conditions.text.html'"></ng-include>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-success" ng-click="$close()">Согласен</button>
  <button type="button" class="btn btn-danger" ng-click="$dismiss()">Не согласен</button>
</div>
