<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Детали места захоронения</h4>
</div>

<div class="modal-body row">
  <ng-include src="'views/modules/frontend/client/places/details.html'"></ng-include>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="savePlace()"
          ng-disabled="placeForm.$invalid">Сохранить</button>
  <button type="button" class="btn btn-default" ng-click="$dismiss()">Отмена</button>
</div>
