<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Детали места захоронения</h4>
</div>

<div class="modal-body row">
  <tabset justified="true">
    <tab heading="Основная информация" class="row">
      <div class="col-xs-9">
        <ya-map class="client-panel-place-map margin-bottom-15"
                ya-zoom="10" ya-options="{maxZoom: 18}"
                ya-center="{{placeData.locationYandexPoint.geometry.coordinates}}">
          <ya-geo-object ya-source="placeData.locationYandexPoint"></ya-geo-object>
        </ya-map>

        <dl>
          <dt>Адрес</dt>
          <dd>{{placeData.address}}</dd>
        </dl>

        <ul class="media-list">
          <li class="media" ng-repeat="deadman in placeData.deadmans" ng-click="showMemoryPage(deadman.id)">
            <img class="media-object img-thumbnail pull-left"
                 ng-src="{{deadman.photo}}"
                 pd-thumb
                 pd-thumb-size="50x50"
                 default-image="http://placehold.it/50x50" />
            <div class="media-body">
              <ul class="list-unstyled">
                <li><strong>{{deadman.lastName}}</strong></li>
                <li><strong>{{deadman.firstName}}</strong></li>
                <li><strong>{{deadman.middleName}}</strong></li>
                <li>{{deadman.birthDate|default:'?'}} - {{deadman.deathDate|default:'?'}}</li>
              </ul>
            </div>
          </li>
          <!--<li>-->
            <!--<form name="addDeadmanForm" ng-show="showAddDeadmanInput">-->
              <!--<div class="form-group">-->
                <!--<input class="form-control" required ng-model="newDeadman.lastName" placeholder="Фамилия">-->
              <!--</div>-->
              <!--<div class="form-group">-->
                <!--<input class="form-control" required ng-model="newDeadman.firstName" placeholder="Имя">-->
              <!--</div>-->
              <!--<div class="form-group">-->
                <!--<input class="form-control" required ng-model="newDeadman.middleName" placeholder="Отчество">-->
              <!--</div>-->

              <!--<button type="button" class="btn btn-default" ng-disable="addDeadmanForm.$invalid"-->
                      <!--ng-click="addDeadman(newDeadman); showAddDeadmanInput = false; newDeadman = null;">-->
                <!--Сохранить-->
              <!--</button>-->
              <!--<button type="button" class="btn btn-default"-->
                      <!--ng-click="showAddDeadmanInput = false; newDeadman = null">Отмена</button>-->
            <!--</form>-->
            <!--<button class="btn-link" ng-click="showAddDeadmanInput = true"-->
                    <!--ng-hide="showAddDeadmanInput">Добавить персону</button>-->
          <!--</li>-->
        </ul>

        <div ng-show="placeData.attachments.length">
          <h4>Результаты</h4>
          <ul class="media-list margin-top-15">
            <li class="media" ng-repeat="attachment in placeData.attachments|orderBy:'createdAt':true">
              <div class="pull-left">
                <img ng-src="{{attachment.url|pdThumbnail:'50x50'}}" class="img-thumbnail"
                     ng-show="'image' === attachment.type">
              </div>
              <div class="media-body">
                <p><small>{{attachment.createdAt|date:'yyyy-MM-dd HH:mm'}}</small></p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-3"></div>
    </tab>

    <tab heading="Заказы" disabled="{{!placeData.orders.length}}">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Дата создания</th>
          <th>Дата изменения</th>
          <th>Тип</th>
          <th>Статус</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="order in placeData.orders" bindonce>
          <td bo-text="order.createdAt|date:'yyyy-MM-dd HH:mm'"></td>
          <td bo-text="order.modifiedAt|date:'yyyy-MM-dd HH:mm'"></td>
          <td bo-text="order.type"></td>
          <td bo-text="order.status|orderStatusLabel"></td>
        </tr>
        </tbody>
      </table>
    </tab>
  </tabset>
</div>
