<h1>
  Ввод архива по фото
  <small ng-show="initialLoaded && place.id">
    Кладбище: {{place.cemetery.title}},
    участок: {{place.area.title}},
    ряд: {{place.row|default:'-'}},
    место: {{place.place.title}}
  </small>
</h1>

<h3 ng-show="initialLoaded && !place">Нет мест для обработки</h3>

<div class="row" ng-show="place.id">
  <div class="col-xs-6" ng-show="place.gallery.length">
    <div class="margin-bottom-15">
      <img ng-show="imageData"
           ng-src="{{imageData.small}}"
           ez-plus
           ezp-model="imageData"
           ezp-options="{
            responsive: true,
            zoomType: 'lens',
            containLensZoom: true,
            cursor: 'pointer'
          }" />
    </div>

    <pd-carousel pd-carousel-responsive item-width="130">
      <li ng-repeat="photo in place.gallery track by $index">

        <div class="thumbnail" ng-click="showImage(photo)">
          <img ng-src="{{photo}}" pd-thumb pd-thumb-size="280x280" />
        </div>

      </li>
    </pd-carousel>

    <div class="margin-bottom-15 margin-top-15">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="remakePhoto"> Перефотографировать
        </label>
      </div>

      <div class="form-group">
        <label for="comment">Комментарий</label>
        <textarea class="form-control" id="comment" ng-model="remakePhotoComment" name="comment"
                  ng-readonly="!remakePhoto"></textarea>
      </div>
    </div>
  </div>

  <div class="col-xs-6" ng-hide="place.gallery.length">
    <h4>Нет фотографии</h4>
  </div>

  <div class="col-xs-6">
    <table class="table" ng-show="place.burials.length">
      <tr ng-repeat="burial in place.burials">
        <td>{{burial.lastName}}</td>
        <td>{{burial.firstName}}</td>
        <td>{{burial.middleName}}</td>
        <td>{{burial.birthDate}}</td>
        <td>{{burial.deathDate}}</td>
        <td>
          <button class="btn btn-xs" ng-click="onEditBurialBtnClick(burial)">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
        </td>
      </tr>
    </table>

    <button class="btn btn-success" ng-click="showAddBurialForm = true" ng-hide="showAddBurialForm">Добавить</button>
    <form role="form" name="burialForm" ng-submit="addBurial()" ng-show="showAddBurialForm">

      <div class="alert alert-danger" ng-show="formError">{{formError}}</div>

      <div class="form-group">
        <label for="lastName">Фамилия</label>
        <input type="text" class="form-control" id="lastName" placeholder="Введите фамилию"
               ng-model="burialFormData.lastName" name="lastName" required pd-focus-me="showAddBurialForm"/>
      </div>

      <div class="form-group">
        <label for="firstName">Имя</label>
        <input type="text" class="form-control" id="firstName" placeholder="Введите имя"
               ng-model="burialFormData.firstName" name="firstName" required
               typeahead="firstname for firstname in getTypeaheadData($viewValue, 'firstname')"
               typeahead-min-length="2" />
      </div>

      <div class="form-group">
        <label for="middleName">Отчество</label>
        <input type="text" class="form-control" id="middleName" placeholder="Введите отчество"
               ng-model="burialFormData.middleName" name="middleName"
               typeahead="middlename for middlename in getTypeaheadData($viewValue, 'middlename')"
               typeahead-min-length="2" />
      </div>

      <div class="form-group">
        <label for="birthDate">Дата рождения</label>
        <input type="text" class="form-control" id="birthDate" placeholder="дд.мм.гггг или мм.гггг или гггг"
               ng-model="burialFormData.birthDate" name="birthDate" />
      </div>

      <div class="form-group">
        <label for="deathDate">Дата смерти</label>
        <input type="text" class="form-control" id="deathDate" placeholder="дд.мм.гггг или мм.гггг или гггг"
               ng-model="burialFormData.deathDate" name="deathDate" />
      </div>

      <button type="submit" class="btn btn-success" ng-disabled="burialForm.$invalid">
        {{ burialFormData.id ? 'Сохранить' : 'Добавить' }}
      </button>
      <button type="button" class="btn btn-default"
              ng-click="burialFormData = {}; showAddBurialForm = false; formError = null;">
        Отменить
      </button>

    </form>
  </div>
</div>

<div class="row margin-top-15 margin-bottom-15" ng-show="place.id">
  <div class="col-xs-6">
    <button class="btn btn-primary" ng-click="getPrevPlace()"
            ng-hide="isCurrentFirstPlace()">&leftarrow; Предыдущее</button>
    <button class="btn btn-primary" ng-click="getNextPlace()"
            ng-hide="isCurrentLastPlace()">Следующее &rightarrow;</button>
  </div>

  <div class="col-xs-6">
    <button class="btn btn-primary pull-right" ng-disabled="!remakePhoto && !place.burials.length"
            ng-click="getNextUnprocessedPlace()">
      Следующее необработанное
    </button>
  </div>
</div>
